restaurant_bot_pro (2).json
{
  "name": "WhatsApp Restaurant Bot Pro",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "onReceived"
      },
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 400]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "from",
              "value": "={{ $json.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.from || '' }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "raw_text",
              "value": "={{ $json.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.text?.body || '' }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "button_id",
              "value": "={{ $json.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.interactive?.button_reply?.id || '' }}",
              "type": "string"
            }
          ]
        }
      },
      "name": "Extract Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [400, 400]
    },
    {
      "parameters": {
        "jsCode": "const raw = ($input.item.json.raw_text || '').toUpperCase();\nconst clean = raw.replace(/[^A-Z0-9\\s]/g, ' ').replace(/\\s+/g, ' ').trim();\nconst interactive = $input.item.json.button_id || '';\nreturn { ...($input.item.json), text: clean, action: interactive.toUpperCase() };"
      },
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [600, 400]
    },
    {
      "parameters": {
        "jsCode": "const data = this.getWorkflowStaticData('global');\nconst phone = $input.item.json.from;\nconst now = Date.now();\nif (!data.sessions) data.sessions = {};\nif (!data.sessions[phone]) data.sessions[phone] = { table: null, cart: [], last_seen: now };\nconst session = data.sessions[phone];\nconst expired = (now - session.last_seen) > 900000;\nif (expired) { session.table = null; session.cart = []; }\nsession.last_seen = now;\nreturn { ...($input.item.json), session: session };"
      },
      "name": "Load Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [800, 400]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.session.table }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "name": "Check Table Set",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1000, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/YOUR_PHONE_ID/messages",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_ACCESS_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\":\"whatsapp\",\"to\":\"{{ $json.from }}\",\"type\":\"text\",\"text\":{\"body\":\"🍽️ Welcome!\\n\\nEnter table number (1-200)\\nExample: 5\"}}"
      },
      "name": "Ask Table Number",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1200, 250]
    },
    {
      "parameters": {
        "jsCode": "const text = $input.item.json.text.trim();\nconst match = text.match(/\\b(T|TABLE)?\\s*(\\d+)\\b/i);\nif (!match) return { ...$input.item.json, error: 'INVALID_TABLE', error_msg: 'Invalid table number' };\nconst tableNum = parseInt(match[2]);\nif (tableNum < 1 || tableNum > 200) return { ...$input.item.json, error: 'TABLE_OUT_RANGE', error_msg: 'Table must be 1-200' };\nconst data = this.getWorkflowStaticData('global');\ndata.sessions[$input.item.json.from].table = tableNum.toString();\nreturn { ...$input.item.json, session: data.sessions[$input.item.json.from] };"
      },
      "name": "Parse Table Number",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1200, 550]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Check Table Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1400, 550]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/YOUR_PHONE_ID/messages",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_ACCESS_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\":\"whatsapp\",\"to\":\"{{ $json.from }}\",\"type\":\"text\",\"text\":{\"body\":\"{{ $json.error_msg }}\"}}"
      },
      "name": "Send Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1600, 450]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/YOUR_PHONE_ID/messages",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_ACCESS_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\":\"whatsapp\",\"to\":\"{{ $json.from }}\",\"type\":\"interactive\",\"interactive\":{\"type\":\"button\",\"body\":{\"text\":\"✅ Table {{ $json.session.table }}\\n\\nSend codes: B1 2 F3 1\"},\"action\":{\"buttons\":[{\"type\":\"reply\",\"reply\":{\"id\":\"menu\",\"title\":\"📋 Menu\"}},{\"type\":\"reply\",\"reply\":{\"id\":\"cart\",\"title\":\"🛒 Cart\"}},{\"type\":\"reply\",\"reply\":{\"id\":\"help\",\"title\":\"❓ Help\"}}]}}}"
      },
      "name": "Show Main Menu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1600, 650]
    },
    {
      "parameters": {
        "mode": "expression",
        "output": "input",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action || $json.text }}",
                    "rightValue": "MENU",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "menu"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action || $json.text }}",
                    "rightValue": "CART",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cart"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action || $json.text }}",
                    "rightValue": "CONFIRM",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "confirm"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action || $json.text }}",
                    "rightValue": "CLEAR",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "clear"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action || $json.text }}",
                    "rightValue": "HELP",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "help"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "^[A-Z]+\\d+",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "items"
            }
          ]
        }
      },
      "name": "Route Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [1800, 650]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/YOUR_PHONE_ID/messages",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_ACCESS_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\":\"whatsapp\",\"to\":\"{{ $json.from }}\",\"type\":\"document\",\"document\":{\"link\":\"https://your-domain.com/menu.pdf\",\"caption\":\"📋 Menu\\nB=Beverages F=Food D=Desserts\"}}"
      },
      "name": "Send Menu PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/YOUR_PHONE_ID/messages",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_ACCESS_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\":\"whatsapp\",\"to\":\"{{ $json.from }}\",\"type\":\"text\",\"text\":{\"body\":\"❓ Help\\n\\n1. View menu\\n2. Send codes: B1 2 F3 1\\n3. Check cart\\n4. Confirm order\"}}"
      },
      "name": "Send Help",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2000, 450]
    },
    {
      "parameters": {
        "jsCode": "const session = $input.item.json.session;\nif (!session.cart || session.cart.length === 0) return { ...$input.item.json, cart_empty: true, cart_text: '🛒 Cart empty' };\nconst lines = session.cart.map(i => i.qty + 'x ' + i.name + ' - ₹' + (i.price * i.qty).toFixed(2));\nconst total = session.cart.reduce((s, i) => s + (i.price * i.qty), 0);\nreturn { ...$input.item.json, cart_empty: false, cart_text: '🛒 Cart (Table ' + session.table + ')\\n\\n' + lines.join('\\n') + '\\n\\n━━━━━━━━\\nTotal: ₹' + total.toFixed(2), cart_total: total };"
      },
      "name": "Format Cart",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [2000, 600]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.cart_empty }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Check Cart Empty",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2200, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/YOUR_PHONE_ID/messages",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_ACCESS_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\":\"whatsapp\",\"to\":\"{{ $json.from }}\",\"type\":\"text\",\"text\":{\"body\":\"{{ $json.cart_text }}\"}}"
      },
      "name": "Send Empty Cart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2400, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/YOUR_PHONE_ID/messages",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_ACCESS_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\":\"whatsapp\",\"to\":\"{{ $json.from }}\",\"type\":\"interactive\",\"interactive\":{\"type\":\"button\",\"body\":{\"text\":\"{{ $json.cart_text }}\"},\"action\":{\"buttons\":[{\"type\":\"reply\",\"reply\":{\"id\":\"confirm\",\"title\":\"✅ Confirm\"}},{\"type\":\"reply\",\"reply\":{\"id\":\"clear\",\"title\":\"🗑️ Clear\"}},{\"type\":\"reply\",\"reply\":{\"id\":\"menu\",\"title\":\"➕ Add\"}}]}}}"
      },
      "name": "Send Cart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2400, 700]
    },
    {
      "parameters": {
        "jsCode": "const tokens = $input.item.json.text.split(/\\s+/);\nconst items = [];\nfor (let i = 0; i < tokens.length; i++) {\n  if (/^[A-Z]+\\d+$/.test(tokens[i])) {\n    let qty = 1;\n    if (i + 1 < tokens.length && /^\\d+$/.test(tokens[i + 1])) { qty = parseInt(tokens[i + 1]); i++; }\n    if (qty < 1 || qty > 20) return { ...$input.item.json, error: 'INVALID_QTY', error_msg: 'Qty must be 1-20' };\n    items.push({ code: tokens[i], qty });\n  }\n}\nif (!items.length) return { ...$input.item.json, error: 'NO_ITEMS', error_msg: 'No codes found. Use: B1 2' };\nreturn { ...$input.item.json, parsed_items: items };"
      },
      "name": "Parse Item Codes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [2000, 900]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Check Parse Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2200, 900]
    },
    {
      "parameters": {
        "operation": "read",
        "sheetId": "YOUR_SHEET_ID",
        "range": "menu!A:D"
      },
      "name": "Lookup Items",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [2400, 1000],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const menuItems = $input.all().slice(1).map(i => i.json);\nconst currentData = $input.item.json;\nconst parsedItems = currentData.parsed_items;\nconst data = this.getWorkflowStaticData('global');\nconst session = data.sessions[currentData.from];\nconst validItems = [];\nconst invalidItems = [];\nfor (const item of parsedItems) {\n  const menuItem = menuItems.find(m => m.Code === item.code);\n  if (menuItem) validItems.push({ code: item.code, name: menuItem.Name, price: parseFloat(menuItem.Price), qty: item.qty });\n  else invalidItems.push(item.code);\n}\nif (invalidItems.length) return { ...currentData, error: 'INVALID_CODES', error_msg: 'Invalid: ' + invalidItems.join(', ') };\nfor (const item of validItems) {\n  const existing = session.cart.find(c => c.code === item.code);\n  if (existing) existing.qty += item.qty;\n  else session.cart.push(item);\n}\nreturn { ...currentData, session: session, added_items: validItems };"
      },
      "name": "Add to Cart",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [2600, 1000]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Check Add Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2800, 1000]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/YOUR_PHONE_ID/messages",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_ACCESS_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\":\"whatsapp\",\"to\":\"{{ $json.from }}\",\"type\":\"interactive\",\"interactive\":{\"type\":\"button\",\"body\":{\"text\":\"✅ Added items!\"},\"action\":{\"buttons\":[{\"type\":\"reply\",\"reply\":{\"id\":\"cart\",\"title\":\"🛒 Cart\"}},{\"type\":\"reply\",\"reply\":{\"id\":\"menu\",\"title\":\"📋 Menu\"}}]}}}"
      },
      "name": "Send Items Added",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [3000, 1100]
    },
    {
      "parameters": {
        "jsCode": "const data = this.getWorkflowStaticData('global');\nconst session = data.sessions[$input.item.json.from];\nif (!session.cart || !session.cart.length) return { ...$input.item.json, error: 'EMPTY_CART', error_msg: 'Cart is empty' };\nconst orderId = 'ORD' + Date.now().toString().slice(-6);\nconst total = session.cart.reduce((s, i) => s + (i.price * i.qty), 0);\nconst orderData = { order_id: orderId, table: session.table, items: JSON.stringify(session.cart), total: total, timestamp: new Date().toISOString(), phone: $input.item.json.from };\nif (!data.orders) data.orders = [];\ndata.orders.push(orderData);\nsession.cart = [];\nreturn { ...$input.item.json, order: orderData };"
      },
      "name": "Confirm Order",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [2000, 1200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Check Confirm Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2200, 1200]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "YOUR_SHEET_ID",
        "range": "orders!A:F"
      },
      "name": "Save Order",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [2400, 1300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/YOUR_PHONE_ID/messages",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_ACCESS_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\":\"whatsapp\",\"to\":\"{{ $json.from }}\",\"type\":\"text\",\"text\":{\"body\":\"✅ ORDER CONFIRMED\\n\\nOrder: {{ $json.order.order_id }}\\nTable: {{ $json.order.table }}\\nTotal: ₹{{ $json.order.total }}\\n\\nKitchen notified! 👨‍🍳\"}}"
      },
      "name": "Send Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2600, 1300]
    },
    {
      "parameters": {
        "jsCode": "const data = this.getWorkflowStaticData('global');\ndata.sessions[$input.item.json.from].cart = [];\nreturn { ...$input.item.json, cleared: true };"
      },
      "name": "Clear Cart",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [2000, 1400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/YOUR_PHONE_ID/messages",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_ACCESS_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\":\"whatsapp\",\"to\":\"{{ $json.from }}\",\"type\":\"text\",\"text\":{\"body\":\"🗑️ Cart cleared\"}}"
      },
      "name": "Send Clear Msg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2200, 1400]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Load Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Session": {
      "main": [
        [
          {
            "node": "Check Table Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Table Set": {
      "main": [
        [
          {
            "node": "Ask Table Number",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Table Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Table Number": {
      "main": [
        [
          {
            "node": "Check Table Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Table Error": {
      "main": [
        [
          {
            "node": "Send Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Show Main Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Show Main Menu": {
      "main": [
        [
          {
            "node": "Route Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Action": {
      "main": [
        [
          {
            "node": "Send Menu PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Cart",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Confirm Order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Clear Cart",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Help",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Item Codes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Cart": {
      "main": [
        [
          {
            "node": "Check Cart Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Cart Empty": {
      "main": [
        [
          {
            "node": "Send Empty Cart",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Cart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Item Codes": {
      "main": [
        [
          {
            "node": "Check Parse Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Parse Error": {
      "main": [
        [
          {
            "node": "Send Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lookup Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Items": {
      "main": [
        [
          {
            "node": "Add to Cart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Cart": {
      "main": [
        [
          {
            "node": "Check Add Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Add Error": {
      "main": [
        [
          {
            "node": "Send Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Items Added",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm Order": {
      "main": [
        [
          {
            "node": "Check Confirm Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Confirm Error": {
      "main": [
        [
          {
            "node": "Send Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Order": {
      "main": [
        [
          {
            "node": "Send Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Cart": {
      "main": [
        [
          {
            "node": "Send Clear Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-25T00:00:00.000Z",
  "versionId": "4.0"
}