restaurant_bot_FINAL_WIRED.json
{
  "name": "WhatsApp Restaurant Bot - V10 FINAL WIRED DEMO",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook_entry",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        200,
        400
      ],
      "webhookId": "whatsapp-bot"
    },
    {
      "parameters": {
        "jsCode": "const required = ['WHATSAPP_PHONE_ID', 'UPI_ID', 'RESTAURANT_NAME', 'MAX_TABLES', 'TAX_RATE', 'WHATSAPP_APP_SECRET', 'GROQ_API_KEY', 'TWILIO_ACCOUNT_SID', 'TWILIO_PHONE', 'KITCHEN_PHONE', 'SUPPORT_EMAIL', 'SUPPORT_PHONE', 'OPENING_TIME', 'CLOSING_TIME', 'TIMEZONE', 'ALLERGEN_KEYWORDS', 'PRIVACY_POLICY_VERSION', 'OPENING_TIME', 'CLOSING_TIME', 'TIMEZONE', 'ALLERGEN_KEYWORDS', 'PRIVACY_POLICY_VERSION', 'OPENING_TIME', 'CLOSING_TIME', 'TIMEZONE', 'ALLERGEN_KEYWORDS', 'PRIVACY_POLICY_VERSION'];\nconst missing = required.filter(v => !$env[v]);\nif (missing.length > 0) throw new Error(`Missing env vars: ${missing.join(', ')}`);\nconst taxRate = parseFloat($env.TAX_RATE);\nif (isNaN(taxRate) || taxRate < 0 || taxRate > 100) throw new Error('TAX_RATE must be 0-100');\nconst maxTables = parseInt($env.MAX_TABLES);\nif (isNaN(maxTables) || maxTables < 1) throw new Error('MAX_TABLES must be positive');\n\nconst crypto = require('crypto');\n// Verify WhatsApp Webhook Signature\ntry {\n  const secret = $env.WHATSAPP_APP_SECRET || '';\n  const headers = $request?.headers || {};\n  const signature = headers['x-hub-signature-256'];\n  \n  if (signature && secret) {\n      const payloadStr = JSON.stringify($input.item.json);\n      const expectedSig = 'sha256=' + crypto.createHmac('sha256', secret).update(payloadStr).digest('hex');\n      \n      if (signature !== expectedSig) {\n          console.log('HMAC Error - Expected:', expectedSig, 'Got:', signature);\n          throw new Error('Invalid Signature / Unauthorized Webhook Request');\n      }\n  }\n} catch (e) {\n  throw new Error('Validation failed: ' + e.message);\n}\n\nconst entry = $input.item.json.entry?.[0];\nif (!entry?.changes?.[0]?.value) throw new Error('Invalid webhook payload');\nreturn $input.item.json;"
      },
      "id": "validate_env",
      "name": "Validate Environment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        400
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "from",
              "value": "={{ $json.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.from || '' }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "raw_text",
              "value": "={{ $json.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.text?.body || '' }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "button_id",
              "value": "={{ $json.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.interactive?.button_reply?.id || '' }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "list_id",
              "value": "={{ $json.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.interactive?.list_reply?.id || '' }}",
              "type": "string"
            },
            {
              "id": "a5",
              "name": "message_id",
              "value": "={{ $json.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.id || '' }}",
              "type": "string"
            },
            {
              "id": "a6",
              "name": "contact_name",
              "value": "={{ $json.entry?.[0]?.changes?.[0]?.value?.contacts?.[0]?.profile?.name || 'Guest' }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "extract_data",
      "name": "Extract Message Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        400,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const phone = ($input.item.json.from || '').toString();\nconst phoneRegex = /^[+\\d-]+$/;\nif (!phoneRegex.test(phone)) if (action && action.startsWith('CMD_ADD_')) text = action.replace('CMD_ADD_', '') + ' ' + text;\\nreturn [{json: {...$input.item.json, error: 'INVALID_PHONE', error_msg: 'Invalid phone format'}}];\nif (phone.length > 20) return [{json: {...$input.item.json, error: 'PHONE_TOO_LONG', error_msg: 'Phone too long'}}];\nconst raw = ($input.item.json.raw_text || '').toUpperCase();\nlet text = raw.replace(/[^A-Z0-9_\\s]/g, ' ').replace(/\\s+/g, ' ').trim();\nconst action = ($input.item.json.button_id || $input.item.json.list_id || '').toUpperCase();\nreturn [{json: {...$input.item.json, text, action, timestamp: Date.now()}}];"
      },
      "id": "sanitize_input",
      "name": "Sanitize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "check_sanitize_error",
      "name": "Check Sanitization Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        600,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $json.from }}\", \"type\": \"text\", \"text\": {\"body\": \"{{ $json.error_msg || 'An error occurred. Please try again.' }}\"}}"
      },
      "id": "send_error",
      "name": "Send Error Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        200
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "postgresApi",
        "operation": "executeQuery",
        "query": "SELECT phone, table_number, cart, customer_name, last_seen, preferences, session_started, total_orders FROM user_sessions WHERE phone = $1 ORDER BY last_seen DESC LIMIT 1",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.from }}"
              }
            ]
          }
        }
      },
      "id": "load_session",
      "name": "Load Session from DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        800,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (!items || items.length < 2) throw new Error('Missing input data for session processing');\nconst inputData = items.find(i => i.json.from) || items[0];\nconst dbResult = items.find(i => i.json.phone) || {};\nconst phone = inputData.json.from;\nconst now = Date.now();\nlet session = {phone, table_number: null, cart: [], customer_name: inputData.json.contact_name, last_seen: now, session_started: now, total_orders: 0, preferences: {}};\nif (dbResult.json && dbResult.json.phone) {\n  let cart = [];\n  let preferences = {};\n  try { cart = JSON.parse(dbResult.json.cart || '[]'); if (!Array.isArray(cart)) cart = []; } catch (e) { cart = []; }\n  try { preferences = JSON.parse(dbResult.json.preferences || '{}'); if (typeof preferences !== 'object') preferences = {}; } catch (e) { preferences = {}; }\n  const lastSeen = new Date(dbResult.json.last_seen).getTime();\n  const expired = isNaN(lastSeen) || (now - lastSeen) > 900000;\n  if (!expired) {\n    session = {...dbResult.json, cart, preferences, last_seen: now};\n  } else {\n    session.total_orders = dbResult.json.total_orders || 0;\n  }\n}\nsession.is_returning = (dbResult.json && parseInt(dbResult.json.total_orders) > 0);\nreturn [{json: {...inputData.json, session, is_new_session: !dbResult.json || !dbResult.json.phone}}];"
      },
      "id": "process_session",
      "name": "Process Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "postgresApi",
        "operation": "executeQuery",
        "query": "INSERT INTO user_sessions (phone, table_number, cart, customer_name, last_seen, preferences, session_started) VALUES ($1, $2, $3::jsonb, $4, NOW(), $5::jsonb, to_timestamp($6/1000)) ON CONFLICT (phone) DO UPDATE SET table_number = EXCLUDED.table_number, cart = EXCLUDED.cart, customer_name = EXCLUDED.customer_name, last_seen = NOW(), preferences = EXCLUDED.preferences RETURNING *\nDO UPDATE SET last_inbound_at = NOW();\nDO UPDATE SET last_inbound_at = NOW();",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.session.phone }}"
              },
              {
                "column": "$2",
                "value": "={{ $json.session.table_number }}"
              },
              {
                "column": "$3",
                "value": "={{ JSON.stringify($json.session.cart) }}"
              },
              {
                "column": "$4",
                "value": "={{ $json.session.customer_name }}"
              },
              {
                "column": "$5",
                "value": "={{ JSON.stringify($json.session.preferences) }}"
              },
              {
                "column": "$6",
                "value": "={{ $json.session.session_started }}"
              }
            ]
          }
        }
      },
      "id": "save_session",
      "name": "Save Session to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1000,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.session.table_number }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "check_table",
      "name": "Check Table Set",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1100,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $json.from }}\", \"type\": \"text\", \"text\": {\"body\": \"🍽️ Welcome to {{ $env.RESTAURANT_NAME }}!\\n\\n👋 Hi {{ $json.contact_name }}! {{ $json.session.is_returning ? 'Welcome back! Ready for your usual?' : '' }}\\n\\nPlease enter your table number (1-{{ $env.MAX_TABLES }})\\n\\nExample: Table 5 or just 5\"}}"
      },
      "id": "ask_table",
      "name": "Ask Table Number",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        250
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = ($input.item.json.text || '').toString();\nconst tableMatch = text.match(/\\d+/);\nif (!tableMatch) return [{json: {...$input.item.json, error: 'INVALID_TABLE', error_msg: `❌ Please enter a valid table number (1-${$env.MAX_TABLES})\\n\\nExample: 'Table 5' or just '5'`}}];\nconst tableNum = parseInt(tableMatch[0]);\nif (isNaN(tableNum)) return [{json: {...$input.item.json, error: 'INVALID_TABLE', error_msg: '❌ Table number must be a valid number'}}];\nconst maxTables = parseInt($env.MAX_TABLES || '200');\nif (tableNum < 1 || tableNum > maxTables) return [{json: {...$input.item.json, error: 'TABLE_OUT_OF_RANGE', error_msg: `❌ Table number must be between 1 and ${maxTables}`}}];\nreturn [{json: {...$input.item.json, table_number: tableNum}}];"
      },
      "id": "parse_table",
      "name": "Parse & Validate Table",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        250
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "check_table_error",
      "name": "Check Table Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1400,
        250
      ]
    },
    {
      "parameters": {
        "jsCode": "const session = $input.item.json.session || {};\nsession.table_number = $input.item.json.table_number;\nreturn [{json: {...$input.item.json, session}}];"
      },
      "id": "update_session_table",
      "name": "Update Session Table",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        250
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "postgresApi",
        "operation": "executeQuery",
        "query": "UPDATE user_sessions SET table_number = $1, last_seen = NOW() WHERE phone = $2 RETURNING *",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.session.table_number }}"
              },
              {
                "column": "$2",
                "value": "={{ $json.from }}"
              }
            ]
          }
        }
      },
      "id": "save_table",
      "name": "Save Table to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1700,
        250
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $json.from }}\", \"type\": \"text\", \"text\": {\"body\": \"✅ Table {{ $json.session.table_number }} confirmed!\\n\\nType MENU to see our menu\"}}"
      },
      "id": "confirm_table",
      "name": "Confirm Table",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        250
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "mode": "expression",
        "output": "input",
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action || $json.text }}",
                    "rightValue": "MENU",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "menu"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action || $json.text }}",
                    "rightValue": "CART",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "cart"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action || $json.text }}",
                    "rightValue": "CONFIRM",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "confirm"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action || $json.text }}",
                    "rightValue": "HELP",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "help"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "[A-Za-z]+\\s*\\d+",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "items"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action || $json.text }}",
                    "rightValue": "CANCEL",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "leftValue": "={{ $json.text.toUpperCase() }}",
                    "rightValue": "CANCEL ORDER",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "cancel"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "CMD_CONFIRM",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "cmd_confirm"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "CMD_CUSTOMISE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "cmd_customise"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "CMD_CLEAR_CART",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "cmd_clear_cart"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "CMD_CONFIRM",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "cmd_confirm"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "CMD_CUSTOMISE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "cmd_customise"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "CMD_CLEAR_CART",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "cmd_clear_cart"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "CMD_GDPR_AGREE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "gdpr_agree"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "CMD_GDPR_DECLINE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "gdpr_decline"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "DELETE MY DATA",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "delete_data"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "CMD_CONFIRM",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "cmd_confirm"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "CMD_CUSTOMISE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "cmd_customise"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "CMD_CLEAR_CART",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "cmd_clear_cart"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "CMD_GDPR_AGREE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "gdpr_agree"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "CMD_GDPR_DECLINE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "gdpr_decline"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "DELETE MY DATA",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "delete_data"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "UPDATE",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "update_item"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "REPEAT",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "repeat_order"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "EDIT ORDER",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "edit_order"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "PROMO",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "promo"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "CMD_CONFIRM",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "cmd_confirm"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "CMD_CUSTOMISE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "cmd_customise"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "CMD_CLEAR_CART",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "cmd_clear_cart"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "CMD_GDPR_AGREE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "gdpr_agree"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "CMD_GDPR_DECLINE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "gdpr_decline"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "DELETE MY DATA",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "delete_data"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "UPDATE",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "update_item"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "REPEAT",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "repeat_order"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "EDIT ORDER",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "edit_order"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "PROMO",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "promo"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "true",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "fallback_help"
            }
          ]
        }
      },
      "id": "route_action",
      "name": "Route Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1200,
        550
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "postgresApi",
        "operation": "executeQuery",
        "query": "SELECT code, name, category, price, description, is_available FROM menu_items WHERE is_available = true ORDER BY category, code"
      },
      "id": "get_menu",
      "name": "Get Menu from DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1400,
        450
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst inputData = $input.first().json;\nconst menuItems = $input.all().slice(1);\nif (!menuItems || menuItems.length === 0) return [{json: {...inputData, error: 'NO_MENU', error_msg: '❌ Menu not available'}}];\n\nlet rows = [];\nmenuItems.forEach(item => {\n    rows.push({\n        id: \"CMD_ADD_\" + item.json.code, \n        title: item.json.name.substring(0, 24), \n        description: ('₹' + item.json.price + ' - ' + item.json.category).substring(0, 72)\n    });\n});\n\nrows = rows.slice(0, 10); // WA Limit\n\nconst interactive = {\n    type: \"list\",\n    header: {type: \"text\", text: \"📋 Live Menu\"},\n    body: {text: \"Select an item to add to your cart or type your order.\\nExample: '2 B1s and a D2'\"},\n    action: {\n        button: \"View Items\",\n        sections: [{title: \"Popular Items\", rows}]\n    }\n};\n\nreturn [{json: {...inputData, interactive}}];\n"
      },
      "id": "format_menu",
      "name": "Format Menu",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        450
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $json.from }}\", \"type\": \"interactive\", \"interactive\": {{ JSON.stringify($json.interactive) }}}"
      },
      "id": "send_menu",
      "name": "Send Menu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        450
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GROQ_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\": \"llama3-70b-8192\", \"messages\": [{\"role\": \"system\", \"content\": \"You extract food item codes and quantities from user orders. Here is the LIVE MENU DATABASE: {{ JSON.stringify($input.all().map(i => i.json)) }}. Return ONLY a valid JSON array of objects. Example: [{\\\"code\\\": \\\"B1\\\", \\\"quantity\\\": 2}]. Map their natural language requests perfectly to the menu codes. If they ask for an item that is is_available: false, STILL output its code.\"}, {\"role\": \"user\", \"content\": \"{{ $('Sanitize Input').item.json.text || $('Sanitize Input').item.json.action }}\"}], \"temperature\": 0}"
      },
      "id": "groq_ai_parser",
      "name": "Groq AI Parser",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        650
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst data = $input.item.json;\nlet parsed_items = [];\ntry {\n    const content = data.choices[0].message.content;\n    const arrayMatch = content.match(/\\[.*\\]/s);\n    if (arrayMatch) {\n       parsed_items = JSON.parse(arrayMatch[0]);\n    } else {\n       parsed_items = JSON.parse(content);\n    }\n} catch (e) {\n    return [{json: {...data, error: 'AI_PARSE_ERROR', error_msg: '❌ We had trouble understanding your order.\\n\\nTry sending codes like: B10, A5'}}];\n}\n\nif (!Array.isArray(parsed_items) || parsed_items.length === 0) {\n    return [{json: {...data, error: 'NO_ITEMS', error_msg: '❌ No items found in your message.\\n\\nTry sending codes like: B10, A5'}}];\n}\n\nparsed_items = parsed_items.map(i => ({...i, quantity: parseInt(i.quantity) || 1}));\n\nreturn [{json: {...data, parsed_items}}];\n"
      },
      "id": "extract_groq_json",
      "name": "Extract Groq Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1450,
        650
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "check_parse_error",
      "name": "Check Parse Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1500,
        650
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "postgresApi",
        "operation": "executeQuery",
        "query": "SELECT code, name, price, category, is_available FROM menu_items WHERE code = ANY($1::text[])",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ JSON.stringify($json.parsed_items.map(i => i.code)) }}"
              }
            ]
          }
        }
      },
      "id": "lookup_items",
      "name": "Lookup Items in DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1700,
        650
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst inputData = $('Extract Groq Output').first().json;\nconst parsed_items = inputData.parsed_items || [];\nconst dbItems = $input.all().map(i => i.json);\n\nif (!dbItems || dbItems.length === 0) return [{json: {...inputData, error: 'ITEMS_NOT_FOUND', error_msg: '❌ No valid items found\\n\\nType MENU to see available items'}}];\n\nconst session = inputData.session || {};\nconst cart = session.cart || [];\nlet outOfStock = [];\nlet itemsAdded = [];\n\ndbItems.forEach(dbItem => {\n  const requested = parsed_items.find(pi => pi.code === dbItem.code);\n  const qty = requested ? requested.quantity : 1;\n  \n  if (!dbItem.is_available) {\n     outOfStock.push(dbItem.name);\n  } else {\n     itemsAdded.push(qty + \"x \" + dbItem.name);\n     const existing = cart.find(c => c.code === dbItem.code);\n     if (existing) { existing.quantity += qty; } else {\n        cart.push({...dbItem, quantity: qty, id: Date.now() + Math.random()});\n     }\n  }\n});\n\nsession.cart = cart;\n\nif (itemsAdded.length === 0 && outOfStock.length > 0) {\n    return [{json: {...inputData, error: 'ALL_OUT_OF_STOCK', error_msg: '⚠️ Sorry, everything you requested (' + outOfStock.join(', ') + ') is currently sold out.'}}];\n}\n\nconst subtotal = cart.reduce((sum, i) => sum + ((i.price || 0) * (i.quantity || 1)), 0);\nconst taxRate = parseFloat($env.TAX_RATE || '0') / 100;\nconst tax = Math.round(subtotal * taxRate);\nconst total = subtotal + tax;\n\nreturn [{json: {...inputData, session, cart, subtotal, tax, total, items_added: itemsAdded, out_of_stock: outOfStock}}];\n"
      },
      "id": "add_to_cart",
      "name": "Add to Cart",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        650
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "postgresApi",
        "operation": "executeQuery",
        "query": "\nBEGIN;\nSELECT pg_advisory_xact_lock(hashtext($1::text));\nUPDATE user_sessions SET cart = $1::jsonb, last_seen = NOW() WHERE phone = $2 RETURNING *\nCOMMIT;",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ JSON.stringify($json.session.cart) }}"
              },
              {
                "column": "$2",
                "value": "={{ $json.from }}"
              }
            ]
          }
        }
      },
      "id": "update_cart",
      "name": "Update Cart in DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1900,
        650
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $json.from }}\", \"type\": \"text\", \"text\": {\"body\": \"✅ Added to cart:\\n{{ $json.items_added.join('\\\\n') }}\\n{{ $json.out_of_stock.length > 0 ? '\\\\n⚠️ SOLD OUT (Not Added):\\\\n- ' + $json.out_of_stock.join('\\\\n- ') + '\\\\n' : '' }}\\n🛒 Total: ₹{{ $json.total }}\\n\\nType CART to review or send more items\"}}"
      },
      "id": "confirm_add",
      "name": "Confirm Items Added",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        650
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const session = $input.item.json.session || {};\nconst cart = session.cart || [];\nif (cart.length === 0) return [{json: {...$input.item.json, error: 'EMPTY_CART', error_msg: '🛒 Your cart is empty\\n\\nType MENU to start ordering'}}];\nconst subtotal = cart.reduce((sum, i) => sum + (i.price * i.quantity), 0);\nconst taxRate = parseFloat($env.TAX_RATE || '0') / 100;\nconst tax = Math.round(subtotal * taxRate);\nconst total = subtotal + tax;\nlet cartText = '🛒 *YOUR CART*\\n\\n';\ncart.forEach((item, idx) => {\n  cartText += `${idx + 1}. ${item.name} x${item.quantity} = ₹${item.price * item.quantity}\\n`;\n});\ncartText += `\\n━━━━━━━━━━\\nSubtotal: ₹${subtotal}\\nTax (${$env.TAX_RATE}%): ₹${tax}\\n*Total: ₹${total}*\\n━━━━━━━━━━`;\nreturn [{json: {...$input.item.json, cart_text: cartText, subtotal, tax, total}}];"
      },
      "id": "format_cart",
      "name": "Format Cart",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        550
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "check_cart_error",
      "name": "Check Cart Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1500,
        550
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $json.from }}\", \"type\": \"interactive\", \"interactive\": {\"type\": \"button\", \"body\": {\"text\": \"{{ $json.cart_text }}\"}, \"action\": {\"buttons\": [{\"type\": \"reply\", \"reply\": {\"id\": \"confirm\", \"title\": \"✅ Confirm Order\"}}, {\"type\": \"reply\", \"reply\": {\"id\": \"menu\", \"title\": \"➕ Add More\"}}]}}}"
      },
      "id": "send_cart",
      "name": "Send Cart with Actions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        550
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const session = $input.item.json.session || {};\nconst cart = session.cart || [];\nif (cart.length === 0) return [{json: {...$input.item.json, error: 'EMPTY_CART', error_msg: '🛒 Cart is empty. Add items first.'}}];\nif (!session.table_number) return [{json: {...$input.item.json, error: 'NO_TABLE', error_msg: '❌ Table number not set. Please set your table first.'}}];\nconst subtotal = cart.reduce((sum, i) => sum + (i.price * i.quantity), 0);\nconst taxRate = parseFloat($env.TAX_RATE || '0') / 100;\nconst tax = Math.round(subtotal * taxRate);\nconst total = subtotal + tax;\nconst orderId = `ORD${Date.now()}`;\nconst order = {order_id: orderId, table_number: session.table_number, items: cart, subtotal, tax, total, phone: $input.item.json.from, customer_name: session.customer_name};\nconst upiString = `upi://pay?pa=${$env.UPI_ID}&pn=${encodeURIComponent($env.RESTAURANT_NAME)}&am=${total}&cu=INR&tn=Order%20${orderId}`;\nreturn [{json: {...$input.item.json, order, upi_string: upiString}}];"
      },
      "id": "prepare_order",
      "name": "Prepare Order",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        750
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "check_order_error",
      "name": "Check Order Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1500,
        750
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "postgresApi",
        "operation": "executeQuery",
        "query": "INSERT INTO orders (order_id, table_number, phone, customer_name, items, subtotal, tax, total, status, upi_string, created_at) VALUES ($1, $2, $3, $4, $5::jsonb, $6, $7, $8, $9, $10, NOW()) RETURNING *",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.order.order_id }}"
              },
              {
                "column": "$2",
                "value": "={{ $json.order.table_number }}"
              },
              {
                "column": "$3",
                "value": "={{ $json.from }}"
              },
              {
                "column": "$4",
                "value": "={{ $json.order.customer_name }}"
              },
              {
                "column": "$5",
                "value": "={{ JSON.stringify($json.order.items) }}"
              },
              {
                "column": "$6",
                "value": "={{ $json.order.subtotal }}"
              },
              {
                "column": "$7",
                "value": "={{ $json.order.tax }}"
              },
              {
                "column": "$8",
                "value": "={{ $json.order.total }}"
              },
              {
                "column": "$9",
                "value": "order_received"
              },
              {
                "column": "$10",
                "value": "={{ $json.upi_string }}"
              }
            ]
          }
        }
      },
      "id": "save_order",
      "name": "Save Order to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1700,
        750
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "postgresApi",
        "operation": "executeQuery",
        "query": "\nBEGIN;\nSELECT pg_advisory_xact_lock(hashtext($1::text));\nUPDATE user_sessions SET cart = '[]'::jsonb, total_orders = total_orders + 1, last_seen = NOW() WHERE phone = $1 RETURNING *\nCOMMIT;",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.from }}"
              }
            ]
          }
        }
      },
      "id": "clear_cart",
      "name": "Clear Cart After Order",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1800,
        750
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $json.from }}\", \"type\": \"interactive\", \"interactive\": {\"type\": \"button\", \"body\": {\"text\": \"✅ *ORDER CREATED!*\\n\\n📋 Order ID: {{ $json.order.order_id }}\\n🪑 Table: {{ $json.order.table_number }}\\n💰 Total: ₹{{ $json.order.total }}\\n\\n━━━━━━━━━\\n💳 *PAYMENT REQUIRED*\\n━━━━━━━━━\\n\\nPlease pay at the counter and show this order ID to staff.\\n\\n⚠️ Order prepared ONLY after payment.\\n📞 Support: {{ $env.SUPPORT_PHONE }}\"}, \"action\": {\"buttons\": [{\"type\": \"reply\", \"reply\": {\"id\": \"CANCEL\", \"title\": \"❌ Cancel Order\"}}]}}}"
      },
      "id": "send_order_confirm",
      "name": "Send Order Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1900,
        750
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $json.from }}\", \"type\": \"text\", \"text\": {\"body\": \"💡 *HELP - Available Commands*\\n\\n📋 MENU - View full menu\\n🛒 CART - View your cart\\n✅ CONFIRM - Place order\\n❓ HELP - Show this help\\n\\n*How to order:*\\n1. Type MENU\\n2. Send item codes (e.g., B10 A5)\\n3. Type CART to review\\n4. Type CONFIRM to place order\\n5. Pay at counter with order ID\\n\\n📞 Support: {{ $env.SUPPORT_EMAIL }}\"}}"
      },
      "id": "send_help",
      "name": "Send Help",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        850
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "id": "global_error_trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        200,
        1000
      ],
      "parameters": {}
    },
    {
      "id": "send_error_report",
      "name": "Send Global Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        1000
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $json.execution.error.message ? $json.execution.error.message.split('||')[1] || $env.SUPPORT_PHONE : $env.SUPPORT_PHONE }}\", \"type\": \"text\", \"text\": {\"body\": \"⚠️ Our highly trained monkeys encountered a technical issue! Please try again or contact support.\"}}"
      },
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "postgresApi",
        "operation": "executeQuery",
        "query": "SELECT code, name, is_available FROM menu_items"
      },
      "id": "get_menu_ai_context",
      "name": "Get Menu for AI context",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        650
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "check_add_error",
      "name": "Check Add Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1850,
        650
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "manager-sync",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "manager_sync_webhook",
      "name": "Manager Trigger (Sheets)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        200,
        -200
      ],
      "webhookId": "sync-trigger"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "options": {}
      },
      "id": "read_google_sheets",
      "name": "Read Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        400,
        -200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google_oauth",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "postgresApi",
        "operation": "executeQuery",
        "query": "INSERT INTO menu_items (code, name, category, price, description, is_available) VALUES ($1, $2, $3, $4, $5, $6) ON CONFLICT (code) DO UPDATE SET name = EXCLUDED.name, category = EXCLUDED.category, price = EXCLUDED.price, description = EXCLUDED.description, is_available = EXCLUDED.is_available",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.code }}"
              },
              {
                "column": "$2",
                "value": "={{ $json.name }}"
              },
              {
                "column": "$3",
                "value": "={{ $json.category }}"
              },
              {
                "column": "$4",
                "value": "={{ $json.price }}"
              },
              {
                "column": "$5",
                "value": "={{ $json.description }}"
              },
              {
                "column": "$6",
                "value": "={{ $json.is_available === 'TRUE' || $json.is_available === true }}"
              }
            ]
          }
        }
      },
      "id": "sync_to_db",
      "name": "Sync to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        600,
        -200
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Sync Successful!"
      },
      "id": "respond_webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        800,
        -200
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "postgresApi",
        "operation": "executeQuery",
        "query": "SELECT order_id, status, created_at FROM orders WHERE phone = $1 AND status = 'order_received' AND created_at >= NOW() - INTERVAL '5 minutes' ORDER BY created_at DESC LIMIT 1",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.from }}"
              }
            ]
          }
        }
      },
      "id": "check_cancel_eligibility",
      "name": "Check Cancel Eligibility",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        1000
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.order_id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "if_cancel_eligible",
      "name": "If Cancel Eligible",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1500,
        1000
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $('Route Action').item.json.from }}\", \"type\": \"text\", \"text\": {\"body\": \"❌ We couldn't find a recent order that can be cancelled.\\n\\nIf your order is already being prepared, please speak to the restaurant staff.\"}}"
      },
      "id": "send_cancel_fail",
      "name": "Send Cancel Fail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        1150
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "postgresApi",
        "operation": "executeQuery",
        "query": "UPDATE orders SET status = 'cancelled' WHERE order_id = $1 RETURNING *",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.order_id }}"
              }
            ]
          }
        }
      },
      "id": "execute_cancel",
      "name": "Execute Cancel in DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1700,
        1000
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $('Route Action').item.json.from }}\", \"type\": \"text\", \"text\": {\"body\": \"✅ Your order {{ $json.order_id }} has been successfully cancelled!\"}}"
      },
      "id": "send_cancel_success",
      "name": "Send Cancel Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1900,
        1000
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst cart = $json.session.cart || [];\nif (cart.length === 0) {\n   return [{json: {...$json, empty_cart: true}}];\n}\nconst subtotal = cart.reduce((sum, i) => sum + ((i.price || 0) * (i.quantity || 1)), 0);\nconst taxRate = parseFloat($env.TAX_RATE || '0') / 100;\nconst tax = Math.round(subtotal * taxRate);\nconst total = subtotal + tax;\nreturn [{json: {...$json, subtotal, tax, total}}];\n"
      },
      "id": "format_cart_review",
      "name": "Format Cart Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        350
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.empty_cart }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "if_empty_cart",
      "name": "If Empty Cart",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2200,
        350
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $json.from }}\", \"type\": \"text\", \"text\": {\"body\": \"🛒 Your cart is currently empty! Send MENU to see what we have.\"}}"
      },
      "id": "send_empty_cart",
      "name": "Send Empty Cart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        250
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $json.from }}\", \"type\": \"interactive\", \"interactive\": {\"type\": \"button\", \"body\": {\"text\": \"🛒 *REVIEW YOUR CART*\\n\\n{{ $json.session.cart.map(c => c.quantity + 'x ' + c.name).join('\\\\n') }}\\n\\nSubtotal: ₹{{ $json.subtotal }}\\nTax: ₹{{ $json.tax }}\\n*Total: ₹{{ $json.total }}*\"}, \"action\": {\"buttons\": [{\"type\": \"reply\", \"reply\": {\"id\": \"CMD_CONFIRM\", \"title\": \"✅ Confirm\"}}, {\"type\": \"reply\", \"reply\": {\"id\": \"CMD_CUSTOMISE\", \"title\": \"📝 Customise More\"}}, {\"type\": \"reply\", \"reply\": {\"id\": \"CMD_CLEAR_CART\", \"title\": \"🗑️ Clear Cart\"}}]}}}"
      },
      "id": "send_cart_review",
      "name": "Send Cart Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        450
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "postgresApi",
        "operation": "executeQuery",
        "query": "\nBEGIN;\nSELECT pg_advisory_xact_lock(hashtext($1::text));\nUPDATE user_sessions SET cart = '[]'::jsonb WHERE phone = $1 RETURNING *\nCOMMIT;",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.from }}"
              }
            ]
          }
        }
      },
      "id": "execute_clear_cart",
      "name": "Execute Clear Cart",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2200,
        700
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $('Route Action').item.json.from }}\", \"type\": \"text\", \"text\": {\"body\": \"🗑️ Your cart has been cleared! Send MENU to start over.\"}}"
      },
      "id": "send_clear_success",
      "name": "Send Clear Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        700
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $('Route Action').item.json.from }}\", \"type\": \"text\", \"text\": {\"body\": \"📝 Great! Type out what else you'd like to add or remove.\"}}"
      },
      "id": "send_customise_success",
      "name": "Send Customise Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        850
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst cart = $json.session.cart || [];\nif (cart.length === 0) {\n   return [{json: {...$json, empty_cart: true}}];\n}\nconst subtotal = cart.reduce((sum, i) => sum + ((i.price || 0) * (i.quantity || 1)), 0);\nconst taxRate = parseFloat($env.TAX_RATE || '0') / 100;\nconst tax = Math.round(subtotal * taxRate);\nconst total = subtotal + tax;\nreturn [{json: {...$json, subtotal, tax, total}}];\n"
      },
      "id": "format_cart_review",
      "name": "Format Cart Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        350
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.empty_cart }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "if_empty_cart",
      "name": "If Empty Cart",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2200,
        350
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $json.from }}\", \"type\": \"text\", \"text\": {\"body\": \"🛒 Your cart is currently empty! Send MENU to see what we have.\"}}"
      },
      "id": "send_empty_cart",
      "name": "Send Empty Cart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        250
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $json.from }}\", \"type\": \"interactive\", \"interactive\": {\"type\": \"button\", \"body\": {\"text\": \"🛒 *REVIEW YOUR CART*\\n\\n{{ $json.session.cart.map(c => c.quantity + 'x ' + c.name).join('\\\\n') }}\\n\\nSubtotal: ₹{{ $json.subtotal }}\\nTax: ₹{{ $json.tax }}\\n*Total: ₹{{ $json.total }}*\"}, \"action\": {\"buttons\": [{\"type\": \"reply\", \"reply\": {\"id\": \"CMD_CONFIRM\", \"title\": \"✅ Confirm\"}}, {\"type\": \"reply\", \"reply\": {\"id\": \"CMD_CUSTOMISE\", \"title\": \"📝 Customise More\"}}, {\"type\": \"reply\", \"reply\": {\"id\": \"CMD_CLEAR_CART\", \"title\": \"🗑️ Clear Cart\"}}]}}}"
      },
      "id": "send_cart_review",
      "name": "Send Cart Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        450
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "postgresApi",
        "operation": "executeQuery",
        "query": "\nBEGIN;\nSELECT pg_advisory_xact_lock(hashtext($1::text));\nUPDATE user_sessions SET cart = '[]'::jsonb WHERE phone = $1 RETURNING *\nCOMMIT;",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.from }}"
              }
            ]
          }
        }
      },
      "id": "execute_clear_cart",
      "name": "Execute Clear Cart",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2200,
        700
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $('Route Action').item.json.from }}\", \"type\": \"text\", \"text\": {\"body\": \"🗑️ Your cart has been cleared! Send MENU to start over.\"}}"
      },
      "id": "send_clear_success",
      "name": "Send Clear Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        700
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $('Route Action').item.json.from }}\", \"type\": \"text\", \"text\": {\"body\": \"📝 Great! Type out what else you'd like to add or remove.\"}}"
      },
      "id": "send_customise_success",
      "name": "Send Customise Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        850
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst tz = $env.TIMEZONE || 'Asia/Kolkata';\nconst now = new Date().toLocaleString('en-US', { timeZone: tz });\nconst localNow = new Date(now);\nconst currentMins = localNow.getHours() * 60 + localNow.getMinutes();\n\nconst parseTime = (t) => {\n    const [h, m] = (t || '09:00').split(':').map(Number);\n    return h * 60 + (m || 0);\n};\n\nconst openMins = parseTime($env.OPENING_TIME);\nconst closeMins = parseTime($env.CLOSING_TIME);\n\nconst isOpen = closeMins > openMins\n    ? currentMins >= openMins && currentMins < closeMins\n    : currentMins >= openMins || currentMins < closeMins; // handles midnight crossover e.g. 22:00-02:00\n\nreturn [{ json: { ...$input.first().json, kitchen_is_open: isOpen, current_time_tz: now } }];\n"
      },
      "id": "check_operating_hours",
      "name": "Check Operating Hours",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        350,
        350
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.kitchen_is_open }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "if_kitchen_closed",
      "name": "If Kitchen Closed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        550,
        350
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $json.from }}\", \"type\": \"text\", \"text\": {\"body\": \"🕐 We're currently closed.\\n\\nWe're open {{ $env.OPENING_TIME }} – {{ $env.CLOSING_TIME }} ({{ $env.TIMEZONE }}).\\n\\nFeel free to browse our menu when we reopen! Send MENU anytime.\"}}"
      },
      "id": "send_closed_message",
      "name": "Send Closed Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        750,
        250
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst from = $json.from;\n// Check if consent record exists BEFORE touching user_sessions\nreturn [{ json: { ...$json, _consent_check_phone: from } }];\n"
      },
      "id": "gdpr_consent_prepare",
      "name": "GDPR Consent Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        950,
        350
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT consent_given_at, opt_out, policy_version FROM user_sessions WHERE phone = $1 LIMIT 1",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.from }}"
              }
            ]
          }
        }
      },
      "id": "check_consent_db",
      "name": "Check Consent DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1100,
        350
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.consent_given_at }}",
              "operator": {
                "type": "string",
                "operation": "isEmpty"
              }
            }
          ]
        }
      },
      "id": "if_needs_consent",
      "name": "If Needs Consent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1300,
        350
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $('GDPR Consent Prepare').item.json.from }}\", \"type\": \"interactive\", \"interactive\": {\"type\": \"button\", \"body\": {\"text\": \"👋 Welcome to {{ $env.RESTAURANT_NAME }}!\\n\\nBefore you order, we need your consent to store your phone number and order details to process your request.\\n\\n📋 We store: phone number, orders placed, table number.\\n❌ We never share your data with third parties.\\n🗑️ Text DELETE MY DATA anytime to erase your information.\\n\\nBy tapping Agree you consent to our data policy (v{{ $env.PRIVACY_POLICY_VERSION }}).\"}, \"action\": {\"buttons\": [{\"type\": \"reply\", \"reply\": {\"id\": \"CMD_GDPR_AGREE\", \"title\": \"✅ I Agree\"}}, {\"type\": \"reply\", \"reply\": {\"id\": \"CMD_GDPR_DECLINE\", \"title\": \"❌ No Thanks\"}}]}}}"
      },
      "id": "send_consent_message",
      "name": "Send Consent Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        250
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO user_sessions (phone, consent_given_at, policy_version, cart)\n                VALUES ($1, NOW(), $2, '[]'::jsonb)\n                ON CONFLICT (phone) DO UPDATE\n                SET consent_given_at = NOW(), policy_version = $2\nDO UPDATE SET last_inbound_at = NOW();\nDO UPDATE SET last_inbound_at = NOW();",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $('GDPR Consent Prepare').item.json.from }}"
              },
              {
                "column": "$2",
                "value": "={{ $env.PRIVACY_POLICY_VERSION }}"
              }
            ]
          }
        }
      },
      "id": "write_consent_db",
      "name": "Write Consent to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1700,
        250
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $('GDPR Consent Prepare').item.json.from }}\", \"type\": \"text\", \"text\": {\"body\": \"No problem! We haven't stored any of your data. You won't be able to use the ordering system without consent. Feel free to come back anytime if you change your mind. 🙂\"}}"
      },
      "id": "send_consent_declined",
      "name": "Send Consent Declined",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        450
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst text = ($json.text || '').toLowerCase();\nconst keywords = ($env.ALLERGEN_KEYWORDS || 'nut,peanut,gluten,dairy,egg,shellfish,soy,wheat,sesame,fish').split(',');\nconst found = keywords.filter(k => text.includes(k.trim().toLowerCase()));\nconst hasAllergen = found.length > 0;\nreturn [{ json: { ...$json, allergen_alert: hasAllergen, allergen_text: found.join(', ') } }];\n"
      },
      "id": "allergen_scan",
      "name": "Allergen Pre-Scan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        650
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst { v4: uuidv4 } = require('crypto');\n// Use crypto.randomUUID() which is available in Node 14.17+\nconst key = $json.session && $json.session.idempotency_key\n    ? $json.session.idempotency_key\n    : require('crypto').randomUUID();\nreturn [{ json: { ...$json, idempotency_key: key } }];\n"
      },
      "id": "generate_idempotency_key",
      "name": "Generate Idempotency Key",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        550
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_sessions SET idempotency_key = $1 WHERE phone = $2",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.idempotency_key }}"
              },
              {
                "column": "$2",
                "value": "={{ $json.from }}"
              }
            ]
          }
        }
      },
      "id": "store_idempotency_key",
      "name": "Store Idempotency Key",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2200,
        550
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "\nUPDATE orders\nSET phone = encode(digest(phone, 'sha256'), 'hex')\nWHERE phone = $1;\n\nDELETE FROM user_sessions WHERE phone = $1;\n",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.from }}"
              }
            ]
          }
        }
      },
      "id": "delete_user_data",
      "name": "Delete User Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        3200,
        350
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $('Route Action').item.json.from }}\", \"type\": \"text\", \"text\": {\"body\": \"✅ Done. Your phone number and personal data have been securely erased from our system. Historical order records have been anonymised.\\n\\nThank you for using {{ $env.RESTAURANT_NAME }}!\"}}"
      },
      "id": "send_delete_confirm",
      "name": "Send Delete Confirm",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3400,
        350
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst cart = $json.session.cart || [];\nif (cart.length === 0) {\n   return [{json: {...$json, empty_cart: true}}];\n}\nconst subtotal = cart.reduce((sum, i) => sum + ((i.price || 0) * (i.quantity || 1)), 0);\nconst taxRate = parseFloat($env.TAX_RATE || '0') / 100;\nconst tax = Math.round(subtotal * taxRate);\nconst total = subtotal + tax;\nreturn [{json: {...$json, subtotal, tax, total}}];\n"
      },
      "id": "format_cart_review",
      "name": "Format Cart Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        350
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.empty_cart }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "if_empty_cart",
      "name": "If Empty Cart",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2200,
        350
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $json.from }}\", \"type\": \"text\", \"text\": {\"body\": \"🛒 Your cart is currently empty! Send MENU to see what we have.\"}}"
      },
      "id": "send_empty_cart",
      "name": "Send Empty Cart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        250
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $json.from }}\", \"type\": \"interactive\", \"interactive\": {\"type\": \"button\", \"body\": {\"text\": \"🛒 *REVIEW YOUR CART*\\n\\n{{ $json.session.cart.map(c => c.quantity + 'x ' + c.name).join('\\\\n') }}\\n\\nSubtotal: ₹{{ $json.subtotal }}\\nTax: ₹{{ $json.tax }}\\n*Total: ₹{{ $json.total }}*\"}, \"action\": {\"buttons\": [{\"type\": \"reply\", \"reply\": {\"id\": \"CMD_CONFIRM\", \"title\": \"✅ Confirm\"}}, {\"type\": \"reply\", \"reply\": {\"id\": \"CMD_CUSTOMISE\", \"title\": \"📝 Customise More\"}}, {\"type\": \"reply\", \"reply\": {\"id\": \"CMD_CLEAR_CART\", \"title\": \"🗑️ Clear Cart\"}}]}}}"
      },
      "id": "send_cart_review",
      "name": "Send Cart Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        450
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "postgresApi",
        "operation": "executeQuery",
        "query": "\nBEGIN;\nSELECT pg_advisory_xact_lock(hashtext($1::text));\nUPDATE user_sessions SET cart = '[]'::jsonb WHERE phone = $1 RETURNING *\nCOMMIT;",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.from }}"
              }
            ]
          }
        }
      },
      "id": "execute_clear_cart",
      "name": "Execute Clear Cart",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2200,
        700
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $('Route Action').item.json.from }}\", \"type\": \"text\", \"text\": {\"body\": \"🗑️ Your cart has been cleared! Send MENU to start over.\"}}"
      },
      "id": "send_clear_success",
      "name": "Send Clear Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        700
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $('Route Action').item.json.from }}\", \"type\": \"text\", \"text\": {\"body\": \"📝 Great! Type out what else you'd like to add or remove.\"}}"
      },
      "id": "send_customise_success",
      "name": "Send Customise Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        850
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst tz = $env.TIMEZONE || 'Asia/Kolkata';\nconst now = new Date().toLocaleString('en-US', { timeZone: tz });\nconst localNow = new Date(now);\nconst currentMins = localNow.getHours() * 60 + localNow.getMinutes();\n\nconst parseTime = (t) => {\n    const [h, m] = (t || '09:00').split(':').map(Number);\n    return h * 60 + (m || 0);\n};\n\nconst openMins = parseTime($env.OPENING_TIME);\nconst closeMins = parseTime($env.CLOSING_TIME);\n\nconst isOpen = closeMins > openMins\n    ? currentMins >= openMins && currentMins < closeMins\n    : currentMins >= openMins || currentMins < closeMins; // handles midnight crossover e.g. 22:00-02:00\n\nreturn [{ json: { ...$input.first().json, kitchen_is_open: isOpen, current_time_tz: now } }];\n"
      },
      "id": "check_operating_hours",
      "name": "Check Operating Hours",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        350,
        350
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.kitchen_is_open }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "if_kitchen_closed",
      "name": "If Kitchen Closed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        550,
        350
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $json.from }}\", \"type\": \"text\", \"text\": {\"body\": \"🕐 We're currently closed.\\n\\nWe're open {{ $env.OPENING_TIME }} – {{ $env.CLOSING_TIME }} ({{ $env.TIMEZONE }}).\\n\\nFeel free to browse our menu when we reopen! Send MENU anytime.\"}}"
      },
      "id": "send_closed_message",
      "name": "Send Closed Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        750,
        250
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst from = $json.from;\n// Check if consent record exists BEFORE touching user_sessions\nreturn [{ json: { ...$json, _consent_check_phone: from } }];\n"
      },
      "id": "gdpr_consent_prepare",
      "name": "GDPR Consent Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        950,
        350
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT consent_given_at, opt_out, policy_version FROM user_sessions WHERE phone = $1 LIMIT 1",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.from }}"
              }
            ]
          }
        }
      },
      "id": "check_consent_db",
      "name": "Check Consent DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1100,
        350
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.consent_given_at }}",
              "operator": {
                "type": "string",
                "operation": "isEmpty"
              }
            }
          ]
        }
      },
      "id": "if_needs_consent",
      "name": "If Needs Consent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1300,
        350
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $('GDPR Consent Prepare').item.json.from }}\", \"type\": \"interactive\", \"interactive\": {\"type\": \"button\", \"body\": {\"text\": \"👋 Welcome to {{ $env.RESTAURANT_NAME }}!\\n\\nBefore you order, we need your consent to store your phone number and order details to process your request.\\n\\n📋 We store: phone number, orders placed, table number.\\n❌ We never share your data with third parties.\\n🗑️ Text DELETE MY DATA anytime to erase your information.\\n\\nBy tapping Agree you consent to our data policy (v{{ $env.PRIVACY_POLICY_VERSION }}).\"}, \"action\": {\"buttons\": [{\"type\": \"reply\", \"reply\": {\"id\": \"CMD_GDPR_AGREE\", \"title\": \"✅ I Agree\"}}, {\"type\": \"reply\", \"reply\": {\"id\": \"CMD_GDPR_DECLINE\", \"title\": \"❌ No Thanks\"}}]}}}"
      },
      "id": "send_consent_message",
      "name": "Send Consent Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        250
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO user_sessions (phone, consent_given_at, policy_version, cart)\n                VALUES ($1, NOW(), $2, '[]'::jsonb)\n                ON CONFLICT (phone) DO UPDATE\n                SET consent_given_at = NOW(), policy_version = $2\nDO UPDATE SET last_inbound_at = NOW();\nDO UPDATE SET last_inbound_at = NOW();",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $('GDPR Consent Prepare').item.json.from }}"
              },
              {
                "column": "$2",
                "value": "={{ $env.PRIVACY_POLICY_VERSION }}"
              }
            ]
          }
        }
      },
      "id": "write_consent_db",
      "name": "Write Consent to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1700,
        250
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $('GDPR Consent Prepare').item.json.from }}\", \"type\": \"text\", \"text\": {\"body\": \"No problem! We haven't stored any of your data. You won't be able to use the ordering system without consent. Feel free to come back anytime if you change your mind. 🙂\"}}"
      },
      "id": "send_consent_declined",
      "name": "Send Consent Declined",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        450
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst text = ($json.text || '').toLowerCase();\nconst keywords = ($env.ALLERGEN_KEYWORDS || 'nut,peanut,gluten,dairy,egg,shellfish,soy,wheat,sesame,fish').split(',');\nconst found = keywords.filter(k => text.includes(k.trim().toLowerCase()));\nconst hasAllergen = found.length > 0;\nreturn [{ json: { ...$json, allergen_alert: hasAllergen, allergen_text: found.join(', ') } }];\n"
      },
      "id": "allergen_scan",
      "name": "Allergen Pre-Scan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        650
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst { v4: uuidv4 } = require('crypto');\n// Use crypto.randomUUID() which is available in Node 14.17+\nconst key = $json.session && $json.session.idempotency_key\n    ? $json.session.idempotency_key\n    : require('crypto').randomUUID();\nreturn [{ json: { ...$json, idempotency_key: key } }];\n"
      },
      "id": "generate_idempotency_key",
      "name": "Generate Idempotency Key",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        550
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_sessions SET idempotency_key = $1 WHERE phone = $2",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.idempotency_key }}"
              },
              {
                "column": "$2",
                "value": "={{ $json.from }}"
              }
            ]
          }
        }
      },
      "id": "store_idempotency_key",
      "name": "Store Idempotency Key",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2200,
        550
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "\nUPDATE orders\nSET phone = encode(digest(phone, 'sha256'), 'hex')\nWHERE phone = $1;\n\nDELETE FROM user_sessions WHERE phone = $1;\n",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.from }}"
              }
            ]
          }
        }
      },
      "id": "delete_user_data",
      "name": "Delete User Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        3200,
        350
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $('Route Action').item.json.from }}\", \"type\": \"text\", \"text\": {\"body\": \"✅ Done. Your phone number and personal data have been securely erased from our system. Historical order records have been anonymised.\\n\\nThank you for using {{ $env.RESTAURANT_NAME }}!\"}}"
      },
      "id": "send_delete_confirm",
      "name": "Send Delete Confirm",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3400,
        350
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "\nINSERT INTO message_logs (phone, direction, status, created_at)\nVALUES ($1, 'inbound', 'received', NOW());\n\nSELECT COUNT(*) AS msg_count\nFROM message_logs\nWHERE phone = $1 AND direction = 'inbound' AND created_at > NOW() - INTERVAL '60 seconds';\n",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.from }}"
              }
            ]
          }
        },
        "alwaysOutputData": true
      },
      "id": "rate_limit_check",
      "name": "Rate Limit Check",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        250,
        550
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.msg_count }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      },
      "id": "rate_limit_gate",
      "name": "Rate Limit Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        450,
        550
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $('Rate Limit Check').item.json.from }}\", \"type\": \"text\", \"text\": {\"body\": \"⏳ You're sending messages too quickly. Please wait a moment and try again.\"}}"
      },
      "id": "send_rate_limit_msg",
      "name": "Send Rate Limit Msg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        650,
        450
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT value AS bot_mode FROM settings WHERE key = 'bot_mode' LIMIT 1",
        "alwaysOutputData": true
      },
      "id": "check_bot_mode",
      "name": "Check Bot Mode",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1150,
        750
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// menu_code_only mode: bypass Groq, parse structured codes like \"A2 x2, B4\"\nconst text = $json.text || '';\nconst matches = [...text.matchAll(/([A-Z][0-9]+)(?:\\s*x\\s*(\\d+))?/gi)];\nconst parsed_items = matches.map(m => ({ code: m[1].toUpperCase(), quantity: parseInt(m[2]) || 1 }));\n\nif (parsed_items.length === 0) {\n  return [{ json: { ...$json, error: 'NO_ITEMS', error_msg: '🔧 Bot is in code-only mode. Please use codes like A2, B4 x2' } }];\n}\nreturn [{ json: { ...$json, parsed_items } }];\n"
      },
      "id": "menu_code_parser",
      "name": "Menu Code Only Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1350,
        850
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst data = $input.item.json;\n// Parse UPDATE_ITEM: \"UPDATE_ITEM A2 1\" or Groq action JSON\nconst text = $('Route Action').item.json.text || '';\nconst match = text.match(/(?:UPDATE|CHANGE|SET)\\s+([A-Z][0-9]+)\\s+(?:TO\\s+)?(\\d+)/i)\n    || text.match(/([A-Z][0-9]+)\\s+(?:to|=|x)\\s*(\\d+)/i);\n\nconst code = match ? match[1].toUpperCase() : null;\nconst qty = match ? parseInt(match[2]) : null;\n\nif (!code) return [{ json: { ...$json, error: 'PARSE_ERROR', error_msg: 'Could not understand which item to change. Try: \"Set A2 to 2\"' } }];\nreturn [{ json: { ...$json, update_item_code: code, update_item_qty: qty } }];\n"
      },
      "id": "extract_update_item",
      "name": "Extract Update Item",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        500
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "\nWITH cart AS (\n  SELECT cart FROM user_sessions WHERE phone = $1\n),\nitem_idx AS (\n  SELECT pos - 1 AS idx\n  FROM user_sessions, jsonb_array_elements(cart) WITH ORDINALITY arr(item, pos)\n  WHERE phone = $1 AND item->>'code' = $2\n  LIMIT 1\n)\nUPDATE user_sessions\nSET cart = CASE\n  WHEN (SELECT idx FROM item_idx) IS NULL THEN cart  -- item not in cart, skip\n  WHEN $3::int <= 0 THEN                              -- remove if qty 0 or negative\n    cart - (SELECT idx FROM item_idx)::int\n  ELSE                                                -- update quantity\n    jsonb_set(cart, ARRAY[(SELECT idx FROM item_idx)::text, 'quantity'], to_jsonb($3::int))\nEND\nWHERE phone = $1\nRETURNING cart;",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.from }}"
              },
              {
                "column": "$2",
                "value": "={{ $json.update_item_code }}"
              },
              {
                "column": "$3",
                "value": "={{ $json.update_item_qty }}"
              }
            ]
          }
        }
      },
      "id": "update_item_db",
      "name": "Update Item DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2800,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "\n-- Reload last_order ONLY if all items are still available=true\nWITH last = (SELECT last_order FROM user_sessions WHERE phone = $1),\nunavailable AS (\n  SELECT item->>'name' AS name\n  FROM jsonb_array_elements((SELECT last_order FROM user_sessions WHERE phone=$1)) AS item\n  LEFT JOIN menu_items m ON m.code = item->>'code'\n  WHERE m.available = false OR m.code IS NULL\n)\nUPDATE user_sessions\nSET cart = CASE\n  WHEN (SELECT COUNT(*) FROM unavailable) = 0 THEN last_order\n  ELSE cart  -- don't overwrite if some items are 86'd\nEND\nWHERE phone = $1\nRETURNING cart, (SELECT json_agg(name) FROM unavailable) AS unavailable_items;",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.from }}"
              }
            ]
          }
        }
      },
      "id": "repeat_last_order",
      "name": "Repeat Last Order",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2800,
        650
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "\nBEGIN;\nSELECT order_id, status, confirmed_at\nFROM orders\nWHERE phone = $1\n  AND status IN ('order_received', 'preparing')\nORDER BY created_at DESC\nLIMIT 1\nFOR UPDATE NOWAIT;  -- NOWAIT: fail immediately if someone else has the lock (cook already bumped)\n",
        "alwaysOutputData": true,
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.from }}"
              }
            ]
          }
        }
      },
      "id": "amendment_check",
      "name": "Amendment Check",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2800,
        800
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst from = $('Route Action').item.json.from;\nconst data = $input.item.json;\nconst AMENDMENT_MINS = parseInt($env.AMENDMENT_WINDOW_MINS || '2');\n\nif (!data.order_id) {\n  return [{ json: { ...data, error: 'NO_ORDER', error_msg: \"You don't have an active order to edit.\" } }];\n}\n\nif (data.status === 'preparing') {\n  return [{ json: { ...data, error: 'TOO_LATE', error_msg: \"⚠️ Your order is already being prepared. Please speak to our staff for changes.\" } }];\n}\n\nconst confirmedAt = new Date(data.confirmed_at);\nconst nowMs = Date.now();\nconst windowMs = AMENDMENT_MINS * 60 * 1000;\n\nif ((nowMs - confirmedAt.getTime()) > windowMs) {\n  return [{ json: { ...data, error: 'WINDOW_CLOSED', error_msg: `⚠️ Your ${AMENDMENT_MINS}-minute edit window has closed. Please speak to staff.` } }];\n}\n\n// Within window — reload order items into cart and reset order\nreturn [{ json: { ...data, amendment_allowed: true } }];\n"
      },
      "id": "amendment_window_logic",
      "name": "Amendment Window Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3000,
        800
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "\nBEGIN;\nSELECT pg_advisory_xact_lock(hashtext($1::text));\nUPDATE orders SET status = 'order_received' WHERE order_id = $1;\nUPDATE user_sessions SET cart = (SELECT items FROM orders WHERE order_id = $1) WHERE phone = $2;\nINSERT INTO order_amendments (order_id, before_state, after_state, amended_at)\nVALUES ($1, (SELECT items FROM orders WHERE order_id = $1), NULL, NOW());\nCOMMIT;\nCOMMIT;",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.order_id }}"
              },
              {
                "column": "$2",
                "value": "={{ $('Route Action').item.json.from }}"
              }
            ]
          }
        }
      },
      "id": "execute_amendment",
      "name": "Execute Amendment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        3200,
        800
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "\nSELECT\n  (SELECT COUNT(*) FROM orders WHERE status = 'preparing') AS queue_depth,\n  (SELECT value::int FROM settings WHERE key = 'avg_prep_minutes') AS avg_prep\n",
        "alwaysOutputData": true
      },
      "id": "get_prep_time",
      "name": "Get Prep Time",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        3000,
        550
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "\nSELECT code, type, discount, valid_hours_start, valid_hours_end, valid_days, expiry\nFROM promotions\nWHERE code = UPPER($1)\n  AND active = true\n  AND (expiry IS NULL OR expiry >= CURRENT_DATE)\n  AND (valid_days IS NULL OR TO_CHAR(NOW() AT TIME ZONE $2, 'Dy') = ANY(valid_days))\n  AND (valid_hours_start IS NULL OR\n       (NOW() AT TIME ZONE $2)::TIME BETWEEN valid_hours_start AND valid_hours_end)\nLIMIT 1",
        "alwaysOutputData": true,
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.promo_code }}"
              },
              {
                "column": "$2",
                "value": "={{ $env.TIMEZONE }}"
              }
            ]
          }
        }
      },
      "id": "validate_promo",
      "name": "Validate Promo",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2800,
        950
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst promo = $input.item.json;\nconst session = $('Route Action').item.json.session;\nconst from = $('Route Action').item.json.from;\n\nif (!promo.code) {\n  return [{ json: { error: 'INVALID_PROMO', error_msg: \"❌ That promo code is invalid, expired, or not valid right now.\" } }];\n}\n\nconst subtotal = (session.cart || []).reduce((s, i) => s + (i.price || 0) * (i.quantity || 1), 0);\nconst discount = promo.type === 'percentage'\n  ? Math.round(subtotal * promo.discount / 100)\n  : promo.discount;\n\nreturn [{ json: { promo_applied: promo.code, discount_amount: discount, original_subtotal: subtotal } }];\n"
      },
      "id": "apply_promo",
      "name": "Apply Promo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3000,
        950
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst text = $json.text || '';\nconst match = text.match(/(?:PROMO|DISCOUNT|CODE)\\s*[:\\s]?\\s*([A-Z0-9]+)/i);\nconst code = match ? match[1].toUpperCase() : null;\nif (!code) return [{ json: { ...$json, error: 'NO_CODE', error_msg: 'Please send your promo code like: PROMO SAVE20' } }];\nreturn [{ json: { ...$json, promo_code: code } }];\n"
      },
      "id": "extract_promo",
      "name": "Extract Promo Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        950
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.message_type }}",
              "rightValue": "audio",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "voice_type_check",
      "name": "Voice Type Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        650
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v21.0/{{ $json.media_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi"
      },
      "id": "download_voice",
      "name": "Download Voice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        550
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GROQ_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-large-v3"
            },
            {
              "name": "file",
              "value": "={{ $json.url }}"
            }
          ]
        }
      },
      "id": "transcribe_voice",
      "name": "Transcribe Voice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        550
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $json.from }}\", \"type\": \"interactive\", \"interactive\": {\"type\": \"button\", \"body\": {\"text\": \"🎙️ Got your voice note!\\n\\nHere's what I heard:\\n\\\"{{ $json.transcript }}\\\"\\n\\nIs this correct?\"}, \"action\": {\"buttons\": [{\"type\": \"reply\", \"reply\": {\"id\": \"CMD_VOICE_YES\", \"title\": \"✅ Yes, proceed\"}}, {\"type\": \"reply\", \"reply\": {\"id\": \"CMD_VOICE_NO\", \"title\": \"❌ No, retype\"}}]}}}"
      },
      "id": "voice_confirm",
      "name": "Voice Confirm",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        550
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_sessions SET last_inbound_at = NOW() WHERE phone = $1",
        "alwaysOutputData": true,
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.from }}"
              }
            ]
          }
        }
      },
      "id": "update_last_inbound",
      "name": "Update Last Inbound",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        800,
        750
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst cart = $json.session.cart || [];\nif (cart.length === 0) {\n   return [{json: {...$json, empty_cart: true}}];\n}\nconst subtotal = cart.reduce((sum, i) => sum + ((i.price || 0) * (i.quantity || 1)), 0);\nconst taxRate = parseFloat($env.TAX_RATE || '0') / 100;\nconst tax = Math.round(subtotal * taxRate);\nconst total = subtotal + tax;\nreturn [{json: {...$json, subtotal, tax, total}}];\n"
      },
      "id": "format_cart_review",
      "name": "Format Cart Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        350
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.empty_cart }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "if_empty_cart",
      "name": "If Empty Cart",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2200,
        350
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $json.from }}\", \"type\": \"text\", \"text\": {\"body\": \"🛒 Your cart is currently empty! Send MENU to see what we have.\"}}"
      },
      "id": "send_empty_cart",
      "name": "Send Empty Cart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        250
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $json.from }}\", \"type\": \"interactive\", \"interactive\": {\"type\": \"button\", \"body\": {\"text\": \"🛒 *REVIEW YOUR CART*\\n\\n{{ $json.session.cart.map(c => c.quantity + 'x ' + c.name).join('\\\\n') }}\\n\\nSubtotal: ₹{{ $json.subtotal }}\\nTax: ₹{{ $json.tax }}\\n*Total: ₹{{ $json.total }}*\"}, \"action\": {\"buttons\": [{\"type\": \"reply\", \"reply\": {\"id\": \"CMD_CONFIRM\", \"title\": \"✅ Confirm\"}}, {\"type\": \"reply\", \"reply\": {\"id\": \"CMD_CUSTOMISE\", \"title\": \"📝 Customise More\"}}, {\"type\": \"reply\", \"reply\": {\"id\": \"CMD_CLEAR_CART\", \"title\": \"🗑️ Clear Cart\"}}]}}}"
      },
      "id": "send_cart_review",
      "name": "Send Cart Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        450
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "postgresApi",
        "operation": "executeQuery",
        "query": "\nBEGIN;\nSELECT pg_advisory_xact_lock(hashtext($1::text));\nUPDATE user_sessions SET cart = '[]'::jsonb WHERE phone = $1 RETURNING *\nCOMMIT;",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.from }}"
              }
            ]
          }
        }
      },
      "id": "execute_clear_cart",
      "name": "Execute Clear Cart",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2200,
        700
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $('Route Action').item.json.from }}\", \"type\": \"text\", \"text\": {\"body\": \"🗑️ Your cart has been cleared! Send MENU to start over.\"}}"
      },
      "id": "send_clear_success",
      "name": "Send Clear Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        700
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $('Route Action').item.json.from }}\", \"type\": \"text\", \"text\": {\"body\": \"📝 Great! Type out what else you'd like to add or remove.\"}}"
      },
      "id": "send_customise_success",
      "name": "Send Customise Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        850
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst tz = $env.TIMEZONE || 'Asia/Kolkata';\nconst now = new Date().toLocaleString('en-US', { timeZone: tz });\nconst localNow = new Date(now);\nconst currentMins = localNow.getHours() * 60 + localNow.getMinutes();\n\nconst parseTime = (t) => {\n    const [h, m] = (t || '09:00').split(':').map(Number);\n    return h * 60 + (m || 0);\n};\n\nconst openMins = parseTime($env.OPENING_TIME);\nconst closeMins = parseTime($env.CLOSING_TIME);\n\nconst isOpen = closeMins > openMins\n    ? currentMins >= openMins && currentMins < closeMins\n    : currentMins >= openMins || currentMins < closeMins; // handles midnight crossover e.g. 22:00-02:00\n\nreturn [{ json: { ...$input.first().json, kitchen_is_open: isOpen, current_time_tz: now } }];\n"
      },
      "id": "check_operating_hours",
      "name": "Check Operating Hours",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        350,
        350
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.kitchen_is_open }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "if_kitchen_closed",
      "name": "If Kitchen Closed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        550,
        350
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $json.from }}\", \"type\": \"text\", \"text\": {\"body\": \"🕐 We're currently closed.\\n\\nWe're open {{ $env.OPENING_TIME }} – {{ $env.CLOSING_TIME }} ({{ $env.TIMEZONE }}).\\n\\nFeel free to browse our menu when we reopen! Send MENU anytime.\"}}"
      },
      "id": "send_closed_message",
      "name": "Send Closed Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        750,
        250
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst from = $json.from;\n// Check if consent record exists BEFORE touching user_sessions\nreturn [{ json: { ...$json, _consent_check_phone: from } }];\n"
      },
      "id": "gdpr_consent_prepare",
      "name": "GDPR Consent Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        950,
        350
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT consent_given_at, opt_out, policy_version FROM user_sessions WHERE phone = $1 LIMIT 1",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.from }}"
              }
            ]
          }
        }
      },
      "id": "check_consent_db",
      "name": "Check Consent DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1100,
        350
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.consent_given_at }}",
              "operator": {
                "type": "string",
                "operation": "isEmpty"
              }
            }
          ]
        }
      },
      "id": "if_needs_consent",
      "name": "If Needs Consent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1300,
        350
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $('GDPR Consent Prepare').item.json.from }}\", \"type\": \"interactive\", \"interactive\": {\"type\": \"button\", \"body\": {\"text\": \"👋 Welcome to {{ $env.RESTAURANT_NAME }}!\\n\\nBefore you order, we need your consent to store your phone number and order details to process your request.\\n\\n📋 We store: phone number, orders placed, table number.\\n❌ We never share your data with third parties.\\n🗑️ Text DELETE MY DATA anytime to erase your information.\\n\\nBy tapping Agree you consent to our data policy (v{{ $env.PRIVACY_POLICY_VERSION }}).\"}, \"action\": {\"buttons\": [{\"type\": \"reply\", \"reply\": {\"id\": \"CMD_GDPR_AGREE\", \"title\": \"✅ I Agree\"}}, {\"type\": \"reply\", \"reply\": {\"id\": \"CMD_GDPR_DECLINE\", \"title\": \"❌ No Thanks\"}}]}}}"
      },
      "id": "send_consent_message",
      "name": "Send Consent Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        250
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO user_sessions (phone, consent_given_at, policy_version, cart)\n                VALUES ($1, NOW(), $2, '[]'::jsonb)\n                ON CONFLICT (phone) DO UPDATE\n                SET consent_given_at = NOW(), policy_version = $2\nDO UPDATE SET last_inbound_at = NOW();",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $('GDPR Consent Prepare').item.json.from }}"
              },
              {
                "column": "$2",
                "value": "={{ $env.PRIVACY_POLICY_VERSION }}"
              }
            ]
          }
        }
      },
      "id": "write_consent_db",
      "name": "Write Consent to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1700,
        250
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $('GDPR Consent Prepare').item.json.from }}\", \"type\": \"text\", \"text\": {\"body\": \"No problem! We haven't stored any of your data. You won't be able to use the ordering system without consent. Feel free to come back anytime if you change your mind. 🙂\"}}"
      },
      "id": "send_consent_declined",
      "name": "Send Consent Declined",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        450
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst text = ($json.text || '').toLowerCase();\nconst keywords = ($env.ALLERGEN_KEYWORDS || 'nut,peanut,gluten,dairy,egg,shellfish,soy,wheat,sesame,fish').split(',');\nconst found = keywords.filter(k => text.includes(k.trim().toLowerCase()));\nconst hasAllergen = found.length > 0;\nreturn [{ json: { ...$json, allergen_alert: hasAllergen, allergen_text: found.join(', ') } }];\n"
      },
      "id": "allergen_scan",
      "name": "Allergen Pre-Scan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        650
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst { v4: uuidv4 } = require('crypto');\n// Use crypto.randomUUID() which is available in Node 14.17+\nconst key = $json.session && $json.session.idempotency_key\n    ? $json.session.idempotency_key\n    : require('crypto').randomUUID();\nreturn [{ json: { ...$json, idempotency_key: key } }];\n"
      },
      "id": "generate_idempotency_key",
      "name": "Generate Idempotency Key",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        550
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_sessions SET idempotency_key = $1 WHERE phone = $2",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.idempotency_key }}"
              },
              {
                "column": "$2",
                "value": "={{ $json.from }}"
              }
            ]
          }
        }
      },
      "id": "store_idempotency_key",
      "name": "Store Idempotency Key",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2200,
        550
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "\nUPDATE orders\nSET phone = encode(digest(phone, 'sha256'), 'hex')\nWHERE phone = $1;\n\nDELETE FROM user_sessions WHERE phone = $1;\n",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.from }}"
              }
            ]
          }
        }
      },
      "id": "delete_user_data",
      "name": "Delete User Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        3200,
        350
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $('Route Action').item.json.from }}\", \"type\": \"text\", \"text\": {\"body\": \"✅ Done. Your phone number and personal data have been securely erased from our system. Historical order records have been anonymised.\\n\\nThank you for using {{ $env.RESTAURANT_NAME }}!\"}}"
      },
      "id": "send_delete_confirm",
      "name": "Send Delete Confirm",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3400,
        350
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "\nINSERT INTO message_logs (phone, direction, status, created_at)\nVALUES ($1, 'inbound', 'received', NOW());\n\nSELECT COUNT(*) AS msg_count\nFROM message_logs\nWHERE phone = $1 AND direction = 'inbound' AND created_at > NOW() - INTERVAL '60 seconds';\n",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.from }}"
              }
            ]
          }
        },
        "alwaysOutputData": true
      },
      "id": "rate_limit_check",
      "name": "Rate Limit Check",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        250,
        550
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.msg_count }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      },
      "id": "rate_limit_gate",
      "name": "Rate Limit Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        450,
        550
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $('Rate Limit Check').item.json.from }}\", \"type\": \"text\", \"text\": {\"body\": \"⏳ You're sending messages too quickly. Please wait a moment and try again.\"}}"
      },
      "id": "send_rate_limit_msg",
      "name": "Send Rate Limit Msg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        650,
        450
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT value AS bot_mode FROM settings WHERE key = 'bot_mode' LIMIT 1",
        "alwaysOutputData": true
      },
      "id": "check_bot_mode",
      "name": "Check Bot Mode",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1150,
        750
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// menu_code_only mode: bypass Groq, parse structured codes like \"A2 x2, B4\"\nconst text = $json.text || '';\nconst matches = [...text.matchAll(/([A-Z][0-9]+)(?:\\s*x\\s*(\\d+))?/gi)];\nconst parsed_items = matches.map(m => ({ code: m[1].toUpperCase(), quantity: parseInt(m[2]) || 1 }));\n\nif (parsed_items.length === 0) {\n  return [{ json: { ...$json, error: 'NO_ITEMS', error_msg: '🔧 Bot is in code-only mode. Please use codes like A2, B4 x2' } }];\n}\nreturn [{ json: { ...$json, parsed_items } }];\n"
      },
      "id": "menu_code_parser",
      "name": "Menu Code Only Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1350,
        850
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst data = $input.item.json;\n// Parse UPDATE_ITEM: \"UPDATE_ITEM A2 1\" or Groq action JSON\nconst text = $('Route Action').item.json.text || '';\nconst match = text.match(/(?:UPDATE|CHANGE|SET)\\s+([A-Z][0-9]+)\\s+(?:TO\\s+)?(\\d+)/i)\n    || text.match(/([A-Z][0-9]+)\\s+(?:to|=|x)\\s*(\\d+)/i);\n\nconst code = match ? match[1].toUpperCase() : null;\nconst qty = match ? parseInt(match[2]) : null;\n\nif (!code) return [{ json: { ...$json, error: 'PARSE_ERROR', error_msg: 'Could not understand which item to change. Try: \"Set A2 to 2\"' } }];\nreturn [{ json: { ...$json, update_item_code: code, update_item_qty: qty } }];\n"
      },
      "id": "extract_update_item",
      "name": "Extract Update Item",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        500
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "\nWITH cart AS (\n  SELECT cart FROM user_sessions WHERE phone = $1\n),\nitem_idx AS (\n  SELECT pos - 1 AS idx\n  FROM user_sessions, jsonb_array_elements(cart) WITH ORDINALITY arr(item, pos)\n  WHERE phone = $1 AND item->>'code' = $2\n  LIMIT 1\n)\nUPDATE user_sessions\nSET cart = CASE\n  WHEN (SELECT idx FROM item_idx) IS NULL THEN cart  -- item not in cart, skip\n  WHEN $3::int <= 0 THEN                              -- remove if qty 0 or negative\n    cart - (SELECT idx FROM item_idx)::int\n  ELSE                                                -- update quantity\n    jsonb_set(cart, ARRAY[(SELECT idx FROM item_idx)::text, 'quantity'], to_jsonb($3::int))\nEND\nWHERE phone = $1\nRETURNING cart;",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.from }}"
              },
              {
                "column": "$2",
                "value": "={{ $json.update_item_code }}"
              },
              {
                "column": "$3",
                "value": "={{ $json.update_item_qty }}"
              }
            ]
          }
        }
      },
      "id": "update_item_db",
      "name": "Update Item DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2800,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "\n-- Reload last_order ONLY if all items are still available=true\nWITH last = (SELECT last_order FROM user_sessions WHERE phone = $1),\nunavailable AS (\n  SELECT item->>'name' AS name\n  FROM jsonb_array_elements((SELECT last_order FROM user_sessions WHERE phone=$1)) AS item\n  LEFT JOIN menu_items m ON m.code = item->>'code'\n  WHERE m.available = false OR m.code IS NULL\n)\nUPDATE user_sessions\nSET cart = CASE\n  WHEN (SELECT COUNT(*) FROM unavailable) = 0 THEN last_order\n  ELSE cart  -- don't overwrite if some items are 86'd\nEND\nWHERE phone = $1\nRETURNING cart, (SELECT json_agg(name) FROM unavailable) AS unavailable_items;",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.from }}"
              }
            ]
          }
        }
      },
      "id": "repeat_last_order",
      "name": "Repeat Last Order",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2800,
        650
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "\nBEGIN;\nSELECT order_id, status, confirmed_at\nFROM orders\nWHERE phone = $1\n  AND status IN ('order_received', 'preparing')\nORDER BY created_at DESC\nLIMIT 1\nFOR UPDATE NOWAIT;  -- NOWAIT: fail immediately if someone else has the lock (cook already bumped)\n",
        "alwaysOutputData": true,
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.from }}"
              }
            ]
          }
        }
      },
      "id": "amendment_check",
      "name": "Amendment Check",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2800,
        800
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst from = $('Route Action').item.json.from;\nconst data = $input.item.json;\nconst AMENDMENT_MINS = parseInt($env.AMENDMENT_WINDOW_MINS || '2');\n\nif (!data.order_id) {\n  return [{ json: { ...data, error: 'NO_ORDER', error_msg: \"You don't have an active order to edit.\" } }];\n}\n\nif (data.status === 'preparing') {\n  return [{ json: { ...data, error: 'TOO_LATE', error_msg: \"⚠️ Your order is already being prepared. Please speak to our staff for changes.\" } }];\n}\n\nconst confirmedAt = new Date(data.confirmed_at);\nconst nowMs = Date.now();\nconst windowMs = AMENDMENT_MINS * 60 * 1000;\n\nif ((nowMs - confirmedAt.getTime()) > windowMs) {\n  return [{ json: { ...data, error: 'WINDOW_CLOSED', error_msg: `⚠️ Your ${AMENDMENT_MINS}-minute edit window has closed. Please speak to staff.` } }];\n}\n\n// Within window — reload order items into cart and reset order\nreturn [{ json: { ...data, amendment_allowed: true } }];\n"
      },
      "id": "amendment_window_logic",
      "name": "Amendment Window Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3000,
        800
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "\nBEGIN;\nSELECT pg_advisory_xact_lock(hashtext($1::text));\nUPDATE orders SET status = 'order_received' WHERE order_id = $1;\nUPDATE user_sessions SET cart = (SELECT items FROM orders WHERE order_id = $1) WHERE phone = $2;\nINSERT INTO order_amendments (order_id, before_state, after_state, amended_at)\nVALUES ($1, (SELECT items FROM orders WHERE order_id = $1), NULL, NOW());\nCOMMIT;\nCOMMIT;",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.order_id }}"
              },
              {
                "column": "$2",
                "value": "={{ $('Route Action').item.json.from }}"
              }
            ]
          }
        }
      },
      "id": "execute_amendment",
      "name": "Execute Amendment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        3200,
        800
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "\nSELECT\n  (SELECT COUNT(*) FROM orders WHERE status = 'preparing') AS queue_depth,\n  (SELECT value::int FROM settings WHERE key = 'avg_prep_minutes') AS avg_prep\n",
        "alwaysOutputData": true
      },
      "id": "get_prep_time",
      "name": "Get Prep Time",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        3000,
        550
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "\nSELECT code, type, discount, valid_hours_start, valid_hours_end, valid_days, expiry\nFROM promotions\nWHERE code = UPPER($1)\n  AND active = true\n  AND (expiry IS NULL OR expiry >= CURRENT_DATE)\n  AND (valid_days IS NULL OR TO_CHAR(NOW() AT TIME ZONE $2, 'Dy') = ANY(valid_days))\n  AND (valid_hours_start IS NULL OR\n       (NOW() AT TIME ZONE $2)::TIME BETWEEN valid_hours_start AND valid_hours_end)\nLIMIT 1",
        "alwaysOutputData": true,
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.promo_code }}"
              },
              {
                "column": "$2",
                "value": "={{ $env.TIMEZONE }}"
              }
            ]
          }
        }
      },
      "id": "validate_promo",
      "name": "Validate Promo",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2800,
        950
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst promo = $input.item.json;\nconst session = $('Route Action').item.json.session;\nconst from = $('Route Action').item.json.from;\n\nif (!promo.code) {\n  return [{ json: { error: 'INVALID_PROMO', error_msg: \"❌ That promo code is invalid, expired, or not valid right now.\" } }];\n}\n\nconst subtotal = (session.cart || []).reduce((s, i) => s + (i.price || 0) * (i.quantity || 1), 0);\nconst discount = promo.type === 'percentage'\n  ? Math.round(subtotal * promo.discount / 100)\n  : promo.discount;\n\nreturn [{ json: { promo_applied: promo.code, discount_amount: discount, original_subtotal: subtotal } }];\n"
      },
      "id": "apply_promo",
      "name": "Apply Promo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3000,
        950
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst text = $json.text || '';\nconst match = text.match(/(?:PROMO|DISCOUNT|CODE)\\s*[:\\s]?\\s*([A-Z0-9]+)/i);\nconst code = match ? match[1].toUpperCase() : null;\nif (!code) return [{ json: { ...$json, error: 'NO_CODE', error_msg: 'Please send your promo code like: PROMO SAVE20' } }];\nreturn [{ json: { ...$json, promo_code: code } }];\n"
      },
      "id": "extract_promo",
      "name": "Extract Promo Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        950
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.message_type }}",
              "rightValue": "audio",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "voice_type_check",
      "name": "Voice Type Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        650
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v21.0/{{ $json.media_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi"
      },
      "id": "download_voice",
      "name": "Download Voice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        550
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GROQ_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-large-v3"
            },
            {
              "name": "file",
              "value": "={{ $json.url }}"
            }
          ]
        }
      },
      "id": "transcribe_voice",
      "name": "Transcribe Voice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        550
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $json.from }}\", \"type\": \"interactive\", \"interactive\": {\"type\": \"button\", \"body\": {\"text\": \"🎙️ Got your voice note!\\n\\nHere's what I heard:\\n\\\"{{ $json.transcript }}\\\"\\n\\nIs this correct?\"}, \"action\": {\"buttons\": [{\"type\": \"reply\", \"reply\": {\"id\": \"CMD_VOICE_YES\", \"title\": \"✅ Yes, proceed\"}}, {\"type\": \"reply\", \"reply\": {\"id\": \"CMD_VOICE_NO\", \"title\": \"❌ No, retype\"}}]}}}"
      },
      "id": "voice_confirm",
      "name": "Voice Confirm",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        550
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_sessions SET last_inbound_at = NOW() WHERE phone = $1",
        "alwaysOutputData": true,
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.from }}"
              }
            ]
          }
        }
      },
      "id": "update_last_inbound",
      "name": "Update Last Inbound",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        800,
        750
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "\nINSERT INTO message_logs (message_id, phone, direction, channel, created_at)\nVALUES ($1, $2, 'inbound', 'whatsapp', NOW())\nON CONFLICT (message_id) DO NOTHING\nRETURNING id;\n",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.body.entry[0].changes[0].value.messages[0].id }}"
              },
              {
                "column": "$2",
                "value": "={{ $json.body.entry[0].changes[0].value.messages[0].from }}"
              }
            ]
          }
        }
      },
      "id": "message_deduplicate",
      "name": "Message Deduplicate",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        0,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.id }}",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ]
        }
      },
      "id": "dedup_check",
      "name": "Dedup Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        200,
        500
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {}
      },
      "id": "early_200",
      "name": "Early 200 OK (Duplicate)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        400,
        700
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT key, value FROM settings;",
        "alwaysOutputData": true
      },
      "id": "read_settings",
      "name": "Read Global Settings",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        400,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst settings = {};\nfor (const item of $input.all()) {\n    settings[item.json.key] = item.json.value;\n}\n// Pass settings along with original webhook payload\nconst webhookPayload = $('Webhook').item.json;\nreturn [{ json: { ...webhookPayload, system_settings: settings } }];\n"
      },
      "id": "map_settings",
      "name": "Map Global Settings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst original_json = $input.item.json;\nconst items_array = original_json.parsed_items || [];\n\n// This is a placeholder for DB check logic inside n8n (since Code node can't easily query DB asynchronously natively without another node, \n// we will trigger a Postgres node next).\nreturn [{ json: { phone: original_json.from, items_to_check: items_array } }];\n"
      },
      "id": "prepare_strict_check",
      "name": "Prepare Strict Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        450
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "\nWITH input_items AS (\n  SELECT * FROM jsonb_to_recordset($1::jsonb) AS x(code TEXT, quantity INT)\n)\nSELECT i.code, i.quantity, m.price, m.name, m.available \nFROM input_items i\nLEFT JOIN menu_items m ON i.code = m.item_code;\n",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ JSON.stringify($json.items_to_check) }}"
              }
            ]
          }
        },
        "alwaysOutputData": true
      },
      "id": "db_strict_check",
      "name": "DB Strict Check",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2000,
        450
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst items = $input.all().map(i => i.json);\nconst phone = $('Prepare Strict Check').item.json.phone;\n\nconst invalid = items.filter(i => !i.price || i.available === false);\nif (invalid.length > 0) {\n   return [{ json: { phone, success: false, error: 'HALLUCINATION_OR_86', invalid_items: invalid } }];\n}\n\nreturn [{ json: { phone, success: true, validated_cart: items } }];\n"
      },
      "id": "validate_strict_check",
      "name": "Validate Strict Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        450
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {}
      },
      "id": "early_ok",
      "name": "Early 200 OK (Webhook Received)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "\nSELECT \n  (NOW() AT TIME ZONE $1)::TIME >= $2::TIME AND \n  (NOW() AT TIME ZONE $1)::TIME < $3::TIME AS is_open\n        ",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $env.TIMEZONE }}"
              },
              {
                "column": "$2",
                "value": "={{ $env.OPENING_TIME }}"
              },
              {
                "column": "$3",
                "value": "={{ $env.CLOSING_TIME }}"
              }
            ]
          }
        },
        "alwaysOutputData": true
      },
      "id": "check_op_hours",
      "name": "Check Operating Hours",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1000,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.is_open }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "gate_op_hours",
      "name": "Gate Operating Hours",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].from }}\", \"type\": \"text\", \"text\": {\"body\": \"We're currently closed. We open at {{ $env.OPENING_TIME }}. You can pre-order when we open.\"}}"
      },
      "id": "msg_closed",
      "name": "Message Closed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        700
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT consent_given_at FROM user_sessions WHERE phone = $1;",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].from }}"
              }
            ]
          }
        },
        "alwaysOutputData": true
      },
      "id": "check_session",
      "name": "Check Session Consent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1400,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.consent_given_at }}",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ]
        }
      },
      "id": "gate_consent",
      "name": "Gate Consent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1600,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].from }}\", \"type\": \"interactive\", \"interactive\": {\"type\": \"button\", \"body\": {\"text\": \"To continue, please agree to our Privacy Policy regarding data storage.\"}, \"action\": {\"buttons\": [{\"type\": \"reply\", \"reply\": {\"id\": \"CMD_AGREE_PRIVACY\", \"title\": \"I Agree\"}}]}}}"
      },
      "id": "msg_request_consent",
      "name": "Request Consent Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        700
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "\nINSERT INTO user_sessions (phone, consent_given_at, policy_version)\nVALUES ($1, NOW(), '1.0')\nON CONFLICT (phone) DO UPDATE SET consent_given_at = NOW();\n        ",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].from }}"
              }
            ]
          }
        },
        "alwaysOutputData": true
      },
      "id": "insert_consent",
      "name": "Insert Consent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1600,
        900
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst text = $json.text || '';\nconst match = text.match(/table\\s*(\\w+)/i);\nif (match) {\n    const table = match[1].toLowerCase();\n    const validTables = ($env.VALID_TABLE_NUMBERS || '1,2,3,4,5,outside,takeaway').toLowerCase().split(',');\n    if (!validTables.includes(table)) {\n        return [{ json: { ...$json, error: 'INVALID_TABLE', error_msg: `We don't have table ${match[1]}. Valid tables: ${$env.VALID_TABLE_NUMBERS}` } }];\n    }\n}\nreturn [{ json: $json }];\n"
      },
      "id": "validate_table",
      "name": "Validate Table Number",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        500
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "\nSELECT count(*) as req_count \nFROM message_logs \nWHERE phone = $1 \nAND created_at > (NOW() - INTERVAL '60 seconds');\n        ",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].from }}"
              }
            ]
          }
        },
        "alwaysOutputData": true
      },
      "id": "sliding_window_rate_limit",
      "name": "Sliding Window Check",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2000,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "action": "hmac",
        "type": "SHA256",
        "value": "={{ JSON.stringify($('Webhook').item.json.body) }}",
        "dataPropertyName": "calculated_hmac",
        "secret": "={{ $env.WHATSAPP_APP_SECRET }}"
      },
      "id": "hmac_verification",
      "name": "HMAC Verification",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        2200,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst text = $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].text.body || '';\nif (text.toUpperCase().includes('DELETE MY DATA')) {\n    return [{ json: { is_deletion_request: true, phone: $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].from } }];\n}\nreturn [{ json: { is_deletion_request: false } }];\n"
      },
      "id": "gdpr_intent",
      "name": "GDPR Consent Detect",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        500
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "\n-- Check active orders before deletion\nWITH active AS (\n  SELECT count(*) as c FROM orders WHERE phone = $1 AND status IN ('preparing', 'order_received')\n)\nUPDATE user_sessions \nSET deletion_requested_at = NOW() \nWHERE phone = $1 AND (SELECT c FROM active) = 0;\n        ",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.phone }}"
              }
            ]
          }
        },
        "alwaysOutputData": true
      },
      "id": "process_gdpr",
      "name": "Process GDPR Request",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2400,
        700
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst text = $json.text || '';\nconst keywords = ($env.ALLERGEN_KEYWORDS || 'peanut,gluten,dairy,shellfish').toLowerCase().split(',');\nconst found = keywords.filter(k => text.toLowerCase().includes(k));\nif (found.length > 0) {\n    return [{ json: { ...$json, has_allergen: true, detected_allergens: found.join(', ') } }];\n}\nreturn [{ json: { ...$json, has_allergen: false } }];\n"
      },
      "id": "allergen_parse",
      "name": "Allergen Keyword Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// NOTE: Realistic nanoid retry loops in n8n are usually built with\n// the Loop node circling back to a Postgres INSERT node checking for conflict,\n// but for this JS snippet we'll output 5 proposed random IDs sequentially.\n// The downstream DB node should do: INSERT ... ON CONFLICT DO NOTHING RETURNING id; \n// and break after first success.\nconst out = [];\nfor (let attempt = 0; attempt < 5; attempt++) {\n    const alphabet = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';\n    let id = '';\n    for (let i = 0; i < 6; i++) {\n        id += alphabet.charAt(Math.floor(Math.random() * alphabet.length));\n    }\n    out.push({ json: { ...$json, display_id: id, attempt } });\n}\nreturn out;\n"
      },
      "id": "nanoid_generate",
      "name": "Generate Nanoid",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].interactive.button_reply.id }}",
              "rightValue": "CMD_AGREE_PRIVACY",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "gate_agree_callback",
      "name": "Check If Agree Callback",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        600,
        300
      ]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Message Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Environment": {
      "main": [
        [
          {
            "node": "Extract Message Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message Data": {
      "main": [
        [
          {
            "node": "Sanitize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize Input": {
      "main": [
        [
          {
            "node": "Check Sanitization Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Sanitization Error": {
      "main": [
        [
          {
            "node": "Send Error Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Load Session from DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Session from DB": {
      "main": [
        [
          {
            "node": "Process Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Session": {
      "main": [
        [
          {
            "node": "Save Session to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Session to DB": {
      "main": [
        [
          {
            "node": "Check Table Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Table Set": {
      "main": [
        [
          {
            "node": "Ask Table Number",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask Table Number": {
      "main": [
        [
          {
            "node": "Parse & Validate Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Validate Table": {
      "main": [
        [
          {
            "node": "Check Table Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Table Error": {
      "main": [
        [
          {
            "node": "Send Error Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Session Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Session Table": {
      "main": [
        [
          {
            "node": "Save Table to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Table to DB": {
      "main": [
        [
          {
            "node": "Confirm Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Action": {
      "main": [
        [
          {
            "node": "Get Menu from DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Cart Review",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Cart Review",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Help",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Menu for AI context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Cancel Eligibility",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Cart Review",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Customise Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Clear Cart",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Cart Review",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Customise Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Clear Cart",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Write Consent to DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Consent Declined",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete User Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Cart Review",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Customise Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Clear Cart",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Write Consent to DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Consent Declined",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete User Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Update Item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Repeat Last Order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Amendment Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Promo Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Customise Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Clear Cart",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Write Consent to DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Consent Declined",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete User Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Update Item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Repeat Last Order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Amendment Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Promo Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Menu from DB": {
      "main": [
        [
          {
            "node": "Format Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Menu": {
      "main": [
        [
          {
            "node": "Send Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Parse Error": {
      "main": [
        [
          {
            "node": "Send Error Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lookup Items in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Items in DB": {
      "main": [
        [
          {
            "node": "Add to Cart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Cart": {
      "main": [
        [
          {
            "node": "Check Add Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Cart in DB": {
      "main": [
        [
          {
            "node": "Confirm Items Added",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Cart": {
      "main": [
        [
          {
            "node": "Check Cart Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Cart Error": {
      "main": [
        [
          {
            "node": "Send Error Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Cart with Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Order": {
      "main": [
        [
          {
            "node": "Get Prep Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Order Error": {
      "main": [
        [
          {
            "node": "Send Error Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Order to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Order to DB": {
      "main": [
        [
          {
            "node": "Clear Cart After Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Cart After Order": {
      "main": [
        [
          {
            "node": "Send Order Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send Global Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq AI Parser": {
      "main": [
        [
          {
            "node": "Extract Groq Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Groq Output": {
      "main": [
        [
          {
            "node": "Check Parse Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Menu for AI context": {
      "main": [
        [
          {
            "node": "Allergen Pre-Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Add Error": {
      "main": [
        [
          {
            "node": "Send Error Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Cart in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manager Trigger (Sheets)": {
      "main": [
        [
          {
            "node": "Read Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Google Sheets": {
      "main": [
        [
          {
            "node": "Sync to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync to DB": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Cancel Eligibility": {
      "main": [
        [
          {
            "node": "If Cancel Eligible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Cancel Eligible": {
      "main": [
        [
          {
            "node": "Execute Cancel in DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Cancel Fail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Cancel in DB": {
      "main": [
        [
          {
            "node": "Send Cancel Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Cart Review": {
      "main": [
        [
          {
            "node": "If Empty Cart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Empty Cart": {
      "main": [
        [
          {
            "node": "Send Empty Cart",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Idempotency Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Clear Cart": {
      "main": [
        [
          {
            "node": "Send Clear Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Operating Hours": {
      "main": [
        [
          {
            "node": "Gate Operating Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Kitchen Closed": {
      "main": [
        [
          {
            "node": "Send Closed Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sanitize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GDPR Consent Prepare": {
      "main": [
        [
          {
            "node": "Check Consent DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Consent DB": {
      "main": [
        [
          {
            "node": "If Needs Consent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Needs Consent": {
      "main": [
        [
          {
            "node": "Send Consent Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Consent to DB": {
      "main": [
        []
      ]
    },
    "Allergen Pre-Scan": {
      "main": [
        [
          {
            "node": "Groq AI Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Idempotency Key": {
      "main": [
        [
          {
            "node": "Store Idempotency Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Idempotency Key": {
      "main": [
        [
          {
            "node": "Send Cart Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete User Data": {
      "main": [
        [
          {
            "node": "Send Delete Confirm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Check": {
      "main": [
        [
          {
            "node": "Rate Limit Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Gate": {
      "main": [
        [
          {
            "node": "Send Rate Limit Msg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Operating Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Bot Mode": {
      "main": [
        [
          {
            "node": "Allergen Pre-Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menu Code Only Parser": {
      "main": [
        [
          {
            "node": "Check Parse Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Update Item": {
      "main": [
        [
          {
            "node": "Update Item DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Item DB": {
      "main": [
        [
          {
            "node": "Format Cart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Repeat Last Order": {
      "main": [
        [
          {
            "node": "Format Cart Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Amendment Check": {
      "main": [
        [
          {
            "node": "Amendment Window Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Amendment Window Logic": {
      "main": [
        [
          {
            "node": "Execute Amendment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Amendment": {
      "main": [
        [
          {
            "node": "Format Cart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Prep Time": {
      "main": [
        [
          {
            "node": "Get Prep Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Promo": {
      "main": [
        [
          {
            "node": "Apply Promo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Promo": {
      "main": [
        [
          {
            "node": "Format Cart Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Promo Code": {
      "main": [
        [
          {
            "node": "Validate Promo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voice Type Check": {
      "main": [
        [
          {
            "node": "Download Voice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GDPR Consent Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice": {
      "main": [
        [
          {
            "node": "Transcribe Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Voice": {
      "main": [
        [
          {
            "node": "Voice Confirm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Deduplicate": {
      "main": [
        [
          {
            "node": "Dedup Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup Check": {
      "main": [
        [
          {
            "node": "Check If Agree Callback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Early 200 OK (Duplicate)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Global Settings": {
      "main": [
        [
          {
            "node": "Map Global Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Global Settings": {
      "main": [
        [
          {
            "node": "Parse & Validate Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HMAC Verification": {
      "main": [
        [
          {
            "node": "Check Session Consent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Session Consent": {
      "main": [
        [
          {
            "node": "Gate Consent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate Consent": {
      "main": [
        [
          {
            "node": "Check Operating Hours",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Request Consent Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate Operating Hours": {
      "main": [
        [
          {
            "node": "Read Global Settings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message Closed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Agree Callback": {
      "main": [
        [
          {
            "node": "Insert Consent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HMAC Verification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Consent": {
      "main": [
        [
          {
            "node": "Early 200 OK (Webhook Received)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-12T00:00:00.000Z",
  "versionId": "2.0"
}