restaurant_bot_V3_ULTIMATE.json
{
  "name": "WhatsApp Restaurant Bot - V3 ULTIMATE EDITION",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook_entry",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        200,
        400
      ],
      "webhookId": "whatsapp-bot"
    },
    {
      "parameters": {
        "jsCode": "const required = ['WHATSAPP_PHONE_ID', 'UPI_ID', 'RESTAURANT_NAME', 'MAX_TABLES', 'TAX_RATE', 'WHATSAPP_APP_SECRET', 'GROQ_API_KEY', 'TWILIO_ACCOUNT_SID', 'TWILIO_PHONE', 'KITCHEN_PHONE', 'SUPPORT_EMAIL', 'SUPPORT_PHONE'];\nconst missing = required.filter(v => !$env[v]);\nif (missing.length > 0) throw new Error(`Missing env vars: ${missing.join(', ')}`);\nconst taxRate = parseFloat($env.TAX_RATE);\nif (isNaN(taxRate) || taxRate < 0 || taxRate > 100) throw new Error('TAX_RATE must be 0-100');\nconst maxTables = parseInt($env.MAX_TABLES);\nif (isNaN(maxTables) || maxTables < 1) throw new Error('MAX_TABLES must be positive');\n\nconst crypto = require('crypto');\n// Verify WhatsApp Webhook Signature\ntry {\n  const secret = $env.WHATSAPP_APP_SECRET || '';\n  const headers = $request?.headers || {};\n  const signature = headers['x-hub-signature-256'];\n  \n  if (signature && secret) {\n      const payloadStr = JSON.stringify($input.item.json);\n      const expectedSig = 'sha256=' + crypto.createHmac('sha256', secret).update(payloadStr).digest('hex');\n      \n      if (signature !== expectedSig) {\n          console.log('HMAC Error - Expected:', expectedSig, 'Got:', signature);\n          throw new Error('Invalid Signature / Unauthorized Webhook Request');\n      }\n  }\n} catch (e) {\n  throw new Error('Validation failed: ' + e.message);\n}\n\nconst entry = $input.item.json.entry?.[0];\nif (!entry?.changes?.[0]?.value) throw new Error('Invalid webhook payload');\nreturn $input.item.json;"
      },
      "id": "validate_env",
      "name": "Validate Environment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        400
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "from",
              "value": "={{ $json.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.from || '' }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "raw_text",
              "value": "={{ $json.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.text?.body || '' }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "button_id",
              "value": "={{ $json.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.interactive?.button_reply?.id || '' }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "list_id",
              "value": "={{ $json.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.interactive?.list_reply?.id || '' }}",
              "type": "string"
            },
            {
              "id": "a5",
              "name": "message_id",
              "value": "={{ $json.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.id || '' }}",
              "type": "string"
            },
            {
              "id": "a6",
              "name": "contact_name",
              "value": "={{ $json.entry?.[0]?.changes?.[0]?.value?.contacts?.[0]?.profile?.name || 'Guest' }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "extract_data",
      "name": "Extract Message Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        400,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const phone = ($input.item.json.from || '').toString();\nconst phoneRegex = /^[+\\d-]+$/;\nif (!phoneRegex.test(phone)) if (action && action.startsWith('CMD_ADD_')) text = action.replace('CMD_ADD_', '') + ' ' + text;\\nreturn [{json: {...$input.item.json, error: 'INVALID_PHONE', error_msg: 'Invalid phone format'}}];\nif (phone.length > 20) return [{json: {...$input.item.json, error: 'PHONE_TOO_LONG', error_msg: 'Phone too long'}}];\nconst raw = ($input.item.json.raw_text || '').toUpperCase();\nlet text = raw.replace(/[^A-Z0-9_\\s]/g, ' ').replace(/\\s+/g, ' ').trim();\nconst action = ($input.item.json.button_id || $input.item.json.list_id || '').toUpperCase();\nreturn [{json: {...$input.item.json, text, action, timestamp: Date.now()}}];"
      },
      "id": "sanitize_input",
      "name": "Sanitize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "check_sanitize_error",
      "name": "Check Sanitization Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        600,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $json.from }}\", \"type\": \"text\", \"text\": {\"body\": \"{{ $json.error_msg || 'An error occurred. Please try again.' }}\"}}"
      },
      "id": "send_error",
      "name": "Send Error Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        200
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "postgresApi",
        "operation": "executeQuery",
        "query": "SELECT phone, table_number, cart, customer_name, last_seen, preferences, session_started, total_orders FROM user_sessions WHERE phone = $1 ORDER BY last_seen DESC LIMIT 1",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.from }}"
              }
            ]
          }
        }
      },
      "id": "load_session",
      "name": "Load Session from DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        800,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (!items || items.length < 2) throw new Error('Missing input data for session processing');\nconst inputData = items.find(i => i.json.from) || items[0];\nconst dbResult = items.find(i => i.json.phone) || {};\nconst phone = inputData.json.from;\nconst now = Date.now();\nlet session = {phone, table_number: null, cart: [], customer_name: inputData.json.contact_name, last_seen: now, session_started: now, total_orders: 0, preferences: {}};\nif (dbResult.json && dbResult.json.phone) {\n  let cart = [];\n  let preferences = {};\n  try { cart = JSON.parse(dbResult.json.cart || '[]'); if (!Array.isArray(cart)) cart = []; } catch (e) { cart = []; }\n  try { preferences = JSON.parse(dbResult.json.preferences || '{}'); if (typeof preferences !== 'object') preferences = {}; } catch (e) { preferences = {}; }\n  const lastSeen = new Date(dbResult.json.last_seen).getTime();\n  const expired = isNaN(lastSeen) || (now - lastSeen) > 900000;\n  if (!expired) {\n    session = {...dbResult.json, cart, preferences, last_seen: now};\n  } else {\n    session.total_orders = dbResult.json.total_orders || 0;\n  }\n}\nsession.is_returning = (dbResult.json && parseInt(dbResult.json.total_orders) > 0);\nreturn [{json: {...inputData.json, session, is_new_session: !dbResult.json || !dbResult.json.phone}}];"
      },
      "id": "process_session",
      "name": "Process Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "postgresApi",
        "operation": "executeQuery",
        "query": "INSERT INTO user_sessions (phone, table_number, cart, customer_name, last_seen, preferences, session_started) VALUES ($1, $2, $3::jsonb, $4, NOW(), $5::jsonb, to_timestamp($6/1000)) ON CONFLICT (phone) DO UPDATE SET table_number = EXCLUDED.table_number, cart = EXCLUDED.cart, customer_name = EXCLUDED.customer_name, last_seen = NOW(), preferences = EXCLUDED.preferences RETURNING *",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.session.phone }}"
              },
              {
                "column": "$2",
                "value": "={{ $json.session.table_number }}"
              },
              {
                "column": "$3",
                "value": "={{ JSON.stringify($json.session.cart) }}"
              },
              {
                "column": "$4",
                "value": "={{ $json.session.customer_name }}"
              },
              {
                "column": "$5",
                "value": "={{ JSON.stringify($json.session.preferences) }}"
              },
              {
                "column": "$6",
                "value": "={{ $json.session.session_started }}"
              }
            ]
          }
        }
      },
      "id": "save_session",
      "name": "Save Session to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1000,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.session.table_number }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "check_table",
      "name": "Check Table Set",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1100,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $json.from }}\", \"type\": \"text\", \"text\": {\"body\": \"🍽️ Welcome to {{ $env.RESTAURANT_NAME }}!\\n\\n👋 Hi {{ $json.contact_name }}! {{ $json.session.is_returning ? 'Welcome back! Ready for your usual?' : '' }}\\n\\nPlease enter your table number (1-{{ $env.MAX_TABLES }})\\n\\nExample: Table 5 or just 5\"}}"
      },
      "id": "ask_table",
      "name": "Ask Table Number",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        250
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = ($input.item.json.text || '').toString();\nconst tableMatch = text.match(/\\d+/);\nif (!tableMatch) return [{json: {...$input.item.json, error: 'INVALID_TABLE', error_msg: `❌ Please enter a valid table number (1-${$env.MAX_TABLES})\\n\\nExample: 'Table 5' or just '5'`}}];\nconst tableNum = parseInt(tableMatch[0]);\nif (isNaN(tableNum)) return [{json: {...$input.item.json, error: 'INVALID_TABLE', error_msg: '❌ Table number must be a valid number'}}];\nconst maxTables = parseInt($env.MAX_TABLES || '200');\nif (tableNum < 1 || tableNum > maxTables) return [{json: {...$input.item.json, error: 'TABLE_OUT_OF_RANGE', error_msg: `❌ Table number must be between 1 and ${maxTables}`}}];\nreturn [{json: {...$input.item.json, table_number: tableNum}}];"
      },
      "id": "parse_table",
      "name": "Parse & Validate Table",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        250
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "check_table_error",
      "name": "Check Table Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1400,
        250
      ]
    },
    {
      "parameters": {
        "jsCode": "const session = $input.item.json.session || {};\nsession.table_number = $input.item.json.table_number;\nreturn [{json: {...$input.item.json, session}}];"
      },
      "id": "update_session_table",
      "name": "Update Session Table",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        250
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "postgresApi",
        "operation": "executeQuery",
        "query": "UPDATE user_sessions SET table_number = $1, last_seen = NOW() WHERE phone = $2 RETURNING *",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.session.table_number }}"
              },
              {
                "column": "$2",
                "value": "={{ $json.from }}"
              }
            ]
          }
        }
      },
      "id": "save_table",
      "name": "Save Table to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1700,
        250
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $json.from }}\", \"type\": \"text\", \"text\": {\"body\": \"✅ Table {{ $json.session.table_number }} confirmed!\\n\\nType MENU to see our menu\"}}"
      },
      "id": "confirm_table",
      "name": "Confirm Table",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        250
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "mode": "expression",
        "output": "input",
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action || $json.text }}",
                    "rightValue": "MENU",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "menu"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action || $json.text }}",
                    "rightValue": "CART",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "cart"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action || $json.text }}",
                    "rightValue": "CONFIRM",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "confirm"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action || $json.text }}",
                    "rightValue": "HELP",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "help"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "[A-Za-z]+\\s*\\d+",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "items"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "true",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "fallback_help"
            }
          ]
        }
      },
      "id": "route_action",
      "name": "Route Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1200,
        550
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "postgresApi",
        "operation": "executeQuery",
        "query": "SELECT code, name, category, price, description, is_available FROM menu_items WHERE is_available = true ORDER BY category, code"
      },
      "id": "get_menu",
      "name": "Get Menu from DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1400,
        450
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst inputData = $input.first().json;\nconst menuItems = $input.all().slice(1);\nif (!menuItems || menuItems.length === 0) return [{json: {...inputData, error: 'NO_MENU', error_msg: '❌ Menu not available'}}];\n\nlet rows = [];\nmenuItems.forEach(item => {\n    rows.push({\n        id: \"CMD_ADD_\" + item.json.code, \n        title: item.json.name.substring(0, 24), \n        description: ('₹' + item.json.price + ' - ' + item.json.category).substring(0, 72)\n    });\n});\n\nrows = rows.slice(0, 10); // WA Limit\n\nconst interactive = {\n    type: \"list\",\n    header: {type: \"text\", text: \"📋 Live Menu\"},\n    body: {text: \"Select an item to add to your cart or type your order.\\nExample: '2 B1s and a D2'\"},\n    action: {\n        button: \"View Items\",\n        sections: [{title: \"Popular Items\", rows}]\n    }\n};\n\nreturn [{json: {...inputData, interactive}}];\n"
      },
      "id": "format_menu",
      "name": "Format Menu",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        450
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $json.from }}\", \"type\": \"interactive\", \"interactive\": {{ JSON.stringify($json.interactive) }}}"
      },
      "id": "send_menu",
      "name": "Send Menu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        450
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GROQ_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\": \"llama3-70b-8192\", \"messages\": [{\"role\": \"system\", \"content\": \"You extract food item codes and quantities from user orders. Here is the LIVE MENU DATABASE: {{ JSON.stringify($input.all().map(i => i.json)) }}. Return ONLY a valid JSON array of objects. Example: [{\\\"code\\\": \\\"B1\\\", \\\"quantity\\\": 2}]. Map their natural language requests perfectly to the menu codes. If they ask for an item that is is_available: false, STILL output its code.\"}, {\"role\": \"user\", \"content\": \"{{ $('Sanitize Input').item.json.text || $('Sanitize Input').item.json.action }}\"}], \"temperature\": 0}"
      },
      "id": "groq_ai_parser",
      "name": "Groq AI Parser",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        650
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst data = $input.item.json;\nlet parsed_items = [];\ntry {\n    const content = data.choices[0].message.content;\n    const arrayMatch = content.match(/\\[.*\\]/s);\n    if (arrayMatch) {\n       parsed_items = JSON.parse(arrayMatch[0]);\n    } else {\n       parsed_items = JSON.parse(content);\n    }\n} catch (e) {\n    return [{json: {...data, error: 'AI_PARSE_ERROR', error_msg: '❌ We had trouble understanding your order.\\n\\nTry sending codes like: B10, A5'}}];\n}\n\nif (!Array.isArray(parsed_items) || parsed_items.length === 0) {\n    return [{json: {...data, error: 'NO_ITEMS', error_msg: '❌ No items found in your message.\\n\\nTry sending codes like: B10, A5'}}];\n}\n\nparsed_items = parsed_items.map(i => ({...i, quantity: parseInt(i.quantity) || 1}));\n\nreturn [{json: {...data, parsed_items}}];\n"
      },
      "id": "extract_groq_json",
      "name": "Extract Groq Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1450,
        650
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "check_parse_error",
      "name": "Check Parse Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1500,
        650
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "postgresApi",
        "operation": "executeQuery",
        "query": "SELECT code, name, price, category, is_available FROM menu_items WHERE code = ANY($1::text[])",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ JSON.stringify($json.parsed_items.map(i => i.code)) }}"
              }
            ]
          }
        }
      },
      "id": "lookup_items",
      "name": "Lookup Items in DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1700,
        650
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst inputData = $('Extract Groq Output').first().json;\nconst parsed_items = inputData.parsed_items || [];\nconst dbItems = $input.all().map(i => i.json);\n\nif (!dbItems || dbItems.length === 0) return [{json: {...inputData, error: 'ITEMS_NOT_FOUND', error_msg: '❌ No valid items found\\n\\nType MENU to see available items'}}];\n\nconst session = inputData.session || {};\nconst cart = session.cart || [];\nlet outOfStock = [];\nlet itemsAdded = [];\n\ndbItems.forEach(dbItem => {\n  const requested = parsed_items.find(pi => pi.code === dbItem.code);\n  const qty = requested ? requested.quantity : 1;\n  \n  if (!dbItem.is_available) {\n     outOfStock.push(dbItem.name);\n  } else {\n     itemsAdded.push(qty + \"x \" + dbItem.name);\n     const existing = cart.find(c => c.code === dbItem.code);\n     if (existing) { existing.quantity += qty; } else {\n        cart.push({...dbItem, quantity: qty, id: Date.now() + Math.random()});\n     }\n  }\n});\n\nsession.cart = cart;\n\nif (itemsAdded.length === 0 && outOfStock.length > 0) {\n    return [{json: {...inputData, error: 'ALL_OUT_OF_STOCK', error_msg: '⚠️ Sorry, everything you requested (' + outOfStock.join(', ') + ') is currently sold out.'}}];\n}\n\nconst subtotal = cart.reduce((sum, i) => sum + ((i.price || 0) * (i.quantity || 1)), 0);\nconst taxRate = parseFloat($env.TAX_RATE || '0') / 100;\nconst tax = Math.round(subtotal * taxRate);\nconst total = subtotal + tax;\n\nreturn [{json: {...inputData, session, cart, subtotal, tax, total, items_added: itemsAdded, out_of_stock: outOfStock}}];\n"
      },
      "id": "add_to_cart",
      "name": "Add to Cart",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        650
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "postgresApi",
        "operation": "executeQuery",
        "query": "UPDATE user_sessions SET cart = $1::jsonb, last_seen = NOW() WHERE phone = $2 RETURNING *",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ JSON.stringify($json.session.cart) }}"
              },
              {
                "column": "$2",
                "value": "={{ $json.from }}"
              }
            ]
          }
        }
      },
      "id": "update_cart",
      "name": "Update Cart in DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1900,
        650
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $json.from }}\", \"type\": \"text\", \"text\": {\"body\": \"✅ Added to cart:\\n{{ $json.items_added.join('\\\\n') }}\\n{{ $json.out_of_stock.length > 0 ? '\\\\n⚠️ SOLD OUT (Not Added):\\\\n- ' + $json.out_of_stock.join('\\\\n- ') + '\\\\n' : '' }}\\n🛒 Total: ₹{{ $json.total }}\\n\\nType CART to review or send more items\"}}"
      },
      "id": "confirm_add",
      "name": "Confirm Items Added",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        650
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const session = $input.item.json.session || {};\nconst cart = session.cart || [];\nif (cart.length === 0) return [{json: {...$input.item.json, error: 'EMPTY_CART', error_msg: '🛒 Your cart is empty\\n\\nType MENU to start ordering'}}];\nconst subtotal = cart.reduce((sum, i) => sum + (i.price * i.quantity), 0);\nconst taxRate = parseFloat($env.TAX_RATE || '0') / 100;\nconst tax = Math.round(subtotal * taxRate);\nconst total = subtotal + tax;\nlet cartText = '🛒 *YOUR CART*\\n\\n';\ncart.forEach((item, idx) => {\n  cartText += `${idx + 1}. ${item.name} x${item.quantity} = ₹${item.price * item.quantity}\\n`;\n});\ncartText += `\\n━━━━━━━━━━\\nSubtotal: ₹${subtotal}\\nTax (${$env.TAX_RATE}%): ₹${tax}\\n*Total: ₹${total}*\\n━━━━━━━━━━`;\nreturn [{json: {...$input.item.json, cart_text: cartText, subtotal, tax, total}}];"
      },
      "id": "format_cart",
      "name": "Format Cart",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        550
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "check_cart_error",
      "name": "Check Cart Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1500,
        550
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $json.from }}\", \"type\": \"interactive\", \"interactive\": {\"type\": \"button\", \"body\": {\"text\": \"{{ $json.cart_text }}\"}, \"action\": {\"buttons\": [{\"type\": \"reply\", \"reply\": {\"id\": \"confirm\", \"title\": \"✅ Confirm Order\"}}, {\"type\": \"reply\", \"reply\": {\"id\": \"menu\", \"title\": \"➕ Add More\"}}]}}}"
      },
      "id": "send_cart",
      "name": "Send Cart with Actions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        550
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const session = $input.item.json.session || {};\nconst cart = session.cart || [];\nif (cart.length === 0) return [{json: {...$input.item.json, error: 'EMPTY_CART', error_msg: '🛒 Cart is empty. Add items first.'}}];\nif (!session.table_number) return [{json: {...$input.item.json, error: 'NO_TABLE', error_msg: '❌ Table number not set. Please set your table first.'}}];\nconst subtotal = cart.reduce((sum, i) => sum + (i.price * i.quantity), 0);\nconst taxRate = parseFloat($env.TAX_RATE || '0') / 100;\nconst tax = Math.round(subtotal * taxRate);\nconst total = subtotal + tax;\nconst orderId = `ORD${Date.now()}`;\nconst order = {order_id: orderId, table_number: session.table_number, items: cart, subtotal, tax, total, phone: $input.item.json.from, customer_name: session.customer_name};\nconst upiString = `upi://pay?pa=${$env.UPI_ID}&pn=${encodeURIComponent($env.RESTAURANT_NAME)}&am=${total}&cu=INR&tn=Order%20${orderId}`;\nreturn [{json: {...$input.item.json, order, upi_string: upiString}}];"
      },
      "id": "prepare_order",
      "name": "Prepare Order",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        750
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "check_order_error",
      "name": "Check Order Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1500,
        750
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "postgresApi",
        "operation": "executeQuery",
        "query": "INSERT INTO orders (order_id, table_number, phone, customer_name, items, subtotal, tax, total, status, upi_string, created_at) VALUES ($1, $2, $3, $4, $5::jsonb, $6, $7, $8, $9, $10, NOW()) RETURNING *",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.order.order_id }}"
              },
              {
                "column": "$2",
                "value": "={{ $json.order.table_number }}"
              },
              {
                "column": "$3",
                "value": "={{ $json.from }}"
              },
              {
                "column": "$4",
                "value": "={{ $json.order.customer_name }}"
              },
              {
                "column": "$5",
                "value": "={{ JSON.stringify($json.order.items) }}"
              },
              {
                "column": "$6",
                "value": "={{ $json.order.subtotal }}"
              },
              {
                "column": "$7",
                "value": "={{ $json.order.tax }}"
              },
              {
                "column": "$8",
                "value": "={{ $json.order.total }}"
              },
              {
                "column": "$9",
                "value": "pending_payment"
              },
              {
                "column": "$10",
                "value": "={{ $json.upi_string }}"
              }
            ]
          }
        }
      },
      "id": "save_order",
      "name": "Save Order to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1700,
        750
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "postgresApi",
        "operation": "executeQuery",
        "query": "UPDATE user_sessions SET cart = '[]'::jsonb, total_orders = total_orders + 1, last_seen = NOW() WHERE phone = $1 RETURNING *",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.from }}"
              }
            ]
          }
        }
      },
      "id": "clear_cart",
      "name": "Clear Cart After Order",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1800,
        750
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $json.from }}\", \"type\": \"text\", \"text\": {\"body\": \"✅ *ORDER CREATED!*\\n\\n📋 Order ID: {{ $json.order.order_id }}\\n🪑 Table: {{ $json.order.table_number }}\\n💰 Total: ₹{{ $json.order.total }}\\n\\n━━━━━━━━━━\\n💳 *PAYMENT REQUIRED*\\n━━━━━━━━━━\\n\\nPlease pay at the counter and show this order ID to staff.\\n\\n⚠️ Order will be prepared after payment confirmation by staff.\\n\\n📞 Need help? Contact {{ $env.SUPPORT_PHONE }}\"}}"
      },
      "id": "send_order_confirm",
      "name": "Send Order Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1900,
        750
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $json.from }}\", \"type\": \"text\", \"text\": {\"body\": \"💡 *HELP - Available Commands*\\n\\n📋 MENU - View full menu\\n🛒 CART - View your cart\\n✅ CONFIRM - Place order\\n❓ HELP - Show this help\\n\\n*How to order:*\\n1. Type MENU\\n2. Send item codes (e.g., B10 A5)\\n3. Type CART to review\\n4. Type CONFIRM to place order\\n5. Pay at counter with order ID\\n\\n📞 Support: {{ $env.SUPPORT_EMAIL }}\"}}"
      },
      "id": "send_help",
      "name": "Send Help",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        850
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "id": "global_error_trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        200,
        1000
      ],
      "parameters": {}
    },
    {
      "id": "send_error_report",
      "name": "Send Global Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        1000
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $json.execution.error.message ? $json.execution.error.message.split('||')[1] || $env.SUPPORT_PHONE : $env.SUPPORT_PHONE }}\", \"type\": \"text\", \"text\": {\"body\": \"⚠️ Our highly trained monkeys encountered a technical issue! Please try again or contact support.\"}}"
      },
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp_cred",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "postgresApi",
        "operation": "executeQuery",
        "query": "SELECT code, name, is_available FROM menu_items"
      },
      "id": "get_menu_ai_context",
      "name": "Get Menu for AI context",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        650
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "check_add_error",
      "name": "Check Add Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1850,
        650
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "manager-sync",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "manager_sync_webhook",
      "name": "Manager Trigger (Sheets)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        200,
        -200
      ],
      "webhookId": "sync-trigger"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "options": {}
      },
      "id": "read_google_sheets",
      "name": "Read Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        400,
        -200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google_oauth",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "postgresApi",
        "operation": "executeQuery",
        "query": "INSERT INTO menu_items (code, name, category, price, description, is_available) VALUES ($1, $2, $3, $4, $5, $6) ON CONFLICT (code) DO UPDATE SET name = EXCLUDED.name, category = EXCLUDED.category, price = EXCLUDED.price, description = EXCLUDED.description, is_available = EXCLUDED.is_available",
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "$1",
                "value": "={{ $json.code }}"
              },
              {
                "column": "$2",
                "value": "={{ $json.name }}"
              },
              {
                "column": "$3",
                "value": "={{ $json.category }}"
              },
              {
                "column": "$4",
                "value": "={{ $json.price }}"
              },
              {
                "column": "$5",
                "value": "={{ $json.description }}"
              },
              {
                "column": "$6",
                "value": "={{ $json.is_available === 'TRUE' || $json.is_available === true }}"
              }
            ]
          }
        }
      },
      "id": "sync_to_db",
      "name": "Sync to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        600,
        -200
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Restaurant DB"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Sync Successful!"
      },
      "id": "respond_webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        800,
        -200
      ]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Validate Environment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Environment": {
      "main": [
        [
          {
            "node": "Extract Message Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message Data": {
      "main": [
        [
          {
            "node": "Sanitize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize Input": {
      "main": [
        [
          {
            "node": "Check Sanitization Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Sanitization Error": {
      "main": [
        [
          {
            "node": "Send Error Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Load Session from DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Session from DB": {
      "main": [
        [
          {
            "node": "Process Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Session": {
      "main": [
        [
          {
            "node": "Save Session to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Session to DB": {
      "main": [
        [
          {
            "node": "Check Table Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Table Set": {
      "main": [
        [
          {
            "node": "Ask Table Number",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask Table Number": {
      "main": [
        [
          {
            "node": "Parse & Validate Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Validate Table": {
      "main": [
        [
          {
            "node": "Check Table Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Table Error": {
      "main": [
        [
          {
            "node": "Send Error Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Session Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Session Table": {
      "main": [
        [
          {
            "node": "Save Table to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Table to DB": {
      "main": [
        [
          {
            "node": "Confirm Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Action": {
      "main": [
        [
          {
            "node": "Get Menu from DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Cart",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Help",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Menu for AI context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Help",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Menu from DB": {
      "main": [
        [
          {
            "node": "Format Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Menu": {
      "main": [
        [
          {
            "node": "Send Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Parse Error": {
      "main": [
        [
          {
            "node": "Send Error Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lookup Items in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Items in DB": {
      "main": [
        [
          {
            "node": "Add to Cart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Cart": {
      "main": [
        [
          {
            "node": "Check Add Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Cart in DB": {
      "main": [
        [
          {
            "node": "Confirm Items Added",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Cart": {
      "main": [
        [
          {
            "node": "Check Cart Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Cart Error": {
      "main": [
        [
          {
            "node": "Send Error Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Cart with Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Order": {
      "main": [
        [
          {
            "node": "Check Order Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Order Error": {
      "main": [
        [
          {
            "node": "Send Error Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Order to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Order to DB": {
      "main": [
        [
          {
            "node": "Clear Cart After Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Cart After Order": {
      "main": [
        [
          {
            "node": "Send Order Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send Global Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq AI Parser": {
      "main": [
        [
          {
            "node": "Extract Groq Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Groq Output": {
      "main": [
        [
          {
            "node": "Check Parse Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Menu for AI context": {
      "main": [
        [
          {
            "node": "Groq AI Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Add Error": {
      "main": [
        [
          {
            "node": "Send Error Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Cart in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manager Trigger (Sheets)": {
      "main": [
        [
          {
            "node": "Read Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Google Sheets": {
      "main": [
        [
          {
            "node": "Sync to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync to DB": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-12T00:00:00.000Z",
  "versionId": "2.0"
}