restaurant_bot_SIMULATION_READY (1).json
{
  "name": "WhatsApp Restaurant Bot Pro 10/10 - Fixed & Tested",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "options": {}
      },
      "id": "a77c2f2e-9497-417a-b283-992f4f92e0d3",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        496,
        1376
      ],
      "webhookId": "98250511-0146-4387-881c-a3c61373bd47"
    },
    {
      "parameters": {
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "cd458e1d-d48c-42ef-8bab-ae8754ed960e",
      "name": "WhatsApp Webhook Verification",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        608,
        1072
      ],
      "webhookId": "f8b930e1-522e-458f-b515-2b8f19071dbe"
    },
    {
      "parameters": {
        "jsCode": "const query = $input.first().json.query || {};\n\nconst mode = query['hub.mode'];\nconst token = query['hub.verify_token'];\nconst challenge = query['hub.challenge'];\n\nconst VERIFY_TOKEN = 'restaurantbot';\n\nif (mode !== 'subscribe' || token !== VERIFY_TOKEN) {\n  throw new Error('Verification failed');\n}\n\nreturn [{ json: { challenge } }];\n"
      },
      "id": "91db1acc-8c75-47bb-ada1-9f275685f108",
      "name": "Verify Webhook Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        1072
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.challenge }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "c049c288-54e1-4c92-a843-63fe43ed2d24",
      "name": "Respond with Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1008,
        1072
      ]
    },
    {
      "parameters": {
        "jsCode": "// Validate required environment variables\nconst required = ['WHATSAPP_PHONE_ID', 'UPI_ID'];\nconst missing = required.filter(v => !$env[v]);\n\nif (missing.length > 0) {\n  throw new Error(`❌ Missing required environment variables: ${missing.join(', ')}`);\n}\n\n// Validate webhook payload structure\nconst entry = $input.item.json.entry?.[0];\nif (!entry || !entry.changes?.[0]?.value) {\n  throw new Error('Invalid WhatsApp webhook payload structure');\n}\n\n// Return the input unchanged\nreturn $input.item.json;"
      },
      "id": "a539b848-6ff8-4a6e-a90d-f391ba1191d0",
      "name": "Validate Environment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        1376
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "from",
              "value": "={{ $json.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.from || '' }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "raw_text",
              "value": "={{ $json.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.text?.body || '' }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "button_id",
              "value": "={{ $json.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.interactive?.button_reply?.id || '' }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "list_id",
              "value": "={{ $json.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.interactive?.list_reply?.id || '' }}",
              "type": "string"
            },
            {
              "id": "a5",
              "name": "message_id",
              "value": "={{ $json.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.id || '' }}",
              "type": "string"
            },
            {
              "id": "a6",
              "name": "contact_name",
              "value": "={{ $json.entry?.[0]?.changes?.[0]?.value?.contacts?.[0]?.profile?.name || 'Guest' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c7ff0334-a4f3-489f-aecf-7b74a7601e80",
      "name": "Extract Message Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        784,
        1264
      ]
    },
    {
      "parameters": {
        "jsCode": "// Rate limiting: max 10 messages per minute per user\nconst phone = $input.item.json.from;\nconst now = Date.now();\n\n// Initialize or get rate limit data from static storage\nif (!$static.rateLimits) {\n  $static.rateLimits = {};\n}\n\nif (!$static.rateLimits[phone]) {\n  $static.rateLimits[phone] = [];\n}\n\n// Remove messages older than 1 minute\n$static.rateLimits[phone] = $static.rateLimits[phone].filter(t => now - t < 60000);\n\n// Check if rate limit exceeded\nif ($static.rateLimits[phone].length >= 10) {\n  return {\n    ...$input.item.json,\n    error: 'RATE_LIMIT',\n    error_msg: '⏸️ Please slow down. You can send up to 10 messages per minute.'\n  };\n}\n\n// Add current message timestamp\n$static.rateLimits[phone].push(now);\n\n// Clean up old users (keep only last 1000)\nconst allPhones = Object.keys($static.rateLimits);\nif (allPhones.length > 1000) {\n  allPhones.slice(0, -1000).forEach(p => delete $static.rateLimits[p]);\n}\n\nreturn $input.item.json;"
      },
      "id": "6a497666-cf2b-4598-ae47-9fa254c4d9eb",
      "name": "Rate Limiting",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        1504
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "options": {}
      },
      "id": "6738cd4f-4d07-43cb-9051-f85737845cf8",
      "name": "Check Rate Limit Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        960,
        1248
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const raw = ($input.item.json.raw_text || '').toUpperCase();\nconst clean = raw.replace(/[^A-Z0-9\\s]/g, ' ').replace(/\\s+/g, ' ').trim();\nconst interactive = $input.item.json.button_id || $input.item.json.list_id || '';\nreturn { \n  ...($input.item.json), \n  text: clean, \n  action: interactive.toUpperCase(),\n  timestamp: Date.now()\n};"
      },
      "id": "f8d02e87-bee8-4433-aa64-a9bc36546767",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        1216
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// SQL Injection Protection - Sanitize user inputs\nconst phone = ($input.item.json.from || '').toString().trim();\nconst text = ($input.item.json.text || $input.item.json.raw_text || '').toString();\nconst action = ($input.item.json.action || '').toString();\n\n// Check if phone is empty\nif (!phone || phone.length === 0) {\n  return [{\n    json: {\n      ...$input.item.json,\n      error: 'EMPTY_PHONE',\n      error_msg: '❌ Phone number is empty.',\n      _debug: 'Phone field was empty or undefined'\n    }\n  }];\n}\n\n// Validate phone number format (only digits, +, and -)\nconst phoneRegex = /^[+\\d-]+$/;\nif (!phoneRegex.test(phone)) {\n  return [{\n    json: {\n      ...$input.item.json,\n      error: 'INVALID_PHONE',\n      error_msg: `❌ Invalid phone format: \"${phone}\"`,\n      _debug_phone: phone,\n      _debug_length: phone.length\n    }\n  }];\n}\n\n// Sanitize for SQL (escape single quotes)\nconst sanitizedPhone = phone.replace(/'/g, \"''\");\n\n// Limit phone length (E.164 format max is 15 digits + country code)\nif (sanitizedPhone.length > 20) {\n  return [{\n    json: {\n      ...$input.item.json,\n      error: 'PHONE_TOO_LONG',\n      error_msg: '❌ Phone number too long.'\n    }\n  }];\n}\n\n// Return sanitized data\nreturn [{\n  json: {\n    ...$input.item.json,\n    from: sanitizedPhone,\n    from_original: phone,\n    _sanitized: true\n  }\n}];"
      },
      "id": "7bcfc086-faf1-4725-9636-dc87fb6468e8",
      "name": "Sanitize Input (SQL Protection)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        1552
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "options": {}
      },
      "id": "dcb1728f-38a6-4d68-91df-e65b894bcf19",
      "name": "Check Sanitization Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1296,
        1408
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM user_sessions WHERE phone = '{{ $json.from }}' ORDER BY last_seen DESC LIMIT 1",
        "options": {}
      },
      "id": "48088574-b69a-4510-b6e7-1eb76f0758b1",
      "name": "Load Session from DB (Uses sanitized phone from earlier)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1424,
        1280
      ],
      "credentials": {
        "postgres": {
          "id": "4y2G3E3yQIqQHRow",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dbResult = $input.all()[0]?.json || {};\nconst phone = $input.first().json.from;\nconst now = Date.now();\n\nlet session = {\n  phone: phone,\n  table: null,\n  cart: [],\n  customer_name: $input.first().json.contact_name,\n  last_seen: now,\n  session_started: now,\n  total_orders: 0,\n  preferences: {}\n};\n\nif (dbResult.phone) {\n  // Safe JSON parsing with error handling\n  let cart = [];\n  let preferences = {};\n  try {\n    cart = JSON.parse(dbResult.cart || '[]');\n    if (!Array.isArray(cart)) cart = [];\n  } catch (e) {\n    console.error('Failed to parse cart:', e);\n    cart = [];\n  }\n  \n  try {\n    preferences = JSON.parse(dbResult.preferences || '{}');\n    if (typeof preferences !== 'object') preferences = {};\n  } catch (e) {\n    console.error('Failed to parse preferences:', e);\n    preferences = {};\n  }\n  \n  // Safe date parsing\n  const lastSeenTime = new Date(dbResult.last_seen).getTime();\n  const expired = isNaN(lastSeenTime) || (now - lastSeenTime) > 900000;\n  \n  if (!expired) {\n    session = {\n      ...dbResult,\n      cart: cart,\n      preferences: preferences,\n      last_seen: now\n    };\n  } else {\n    session.total_orders = dbResult.total_orders || 0;\n  }\n}\n\nreturn { \n  ...$input.first().json, \n  session: session,\n  is_new_session: !dbResult.phone || (now - new Date(dbResult.last_seen).getTime()) > 900000\n};"
      },
      "id": "fcc70e38-2978-4ffd-a66f-b8caef9e3a8b",
      "name": "Process Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        1376
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.session.table }}",
              "operation": "isEmpty"
            }
          ]
        },
        "options": {}
      },
      "id": "49413399-03be-4417-8203-3752660bd355",
      "name": "Check Table Set",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1616,
        1376
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.from }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"🍽️ Welcome to {{ $env.RESTAURANT_NAME || 'Our Restaurant' }}!\\n\\n👋 Hi {{ $json.contact_name }}!\\n\\nPlease enter your table number (1-{{ $env.MAX_TABLES || '200' }})\\n\\nExample: Table 5 or just 5\"\n  }\n}",
        "options": {}
      },
      "id": "ac383257-cb05-46a7-9f51-fd3fa560a808",
      "name": "Ask Table Number",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1808,
        1232
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const text = ($input.item.json.text || '').toString();\nconst match = text.match(/\\b(\\d{1,3})\\b/);\nif (!match) {\n  return { \n    ...$input.item.json, \n    error: 'INVALID_TABLE',\n    error_msg: '❌ Please enter a valid table number (e.g., 5, Table 10)'\n  };\n}\nconst table = parseInt(match[1]);\nconst maxTables = parseInt(process.env.MAX_TABLES || '200');\nif (table < 1 || table > maxTables) {\n  return { \n    ...$input.item.json, \n    error: 'TABLE_OUT_OF_RANGE',\n    error_msg: `❌ Table number must be between 1 and ${maxTables}`\n  };\n}\nreturn { \n  ...$input.item.json, \n  table_number: table\n};"
      },
      "id": "62e344b3-8970-4f1d-8d5a-2ce0af9f98b1",
      "name": "Parse Table Number",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        1472
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "options": {}
      },
      "id": "ac798762-eb39-4277-a3c7-4884300a1862",
      "name": "Check Table Parse Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2112,
        1472
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE user_sessions SET \n  table_number = {{ $json.table_number }}, \n  last_seen = NOW() \nWHERE phone = '{{ $json.from }}' \nRETURNING *;\n\nINSERT INTO user_sessions (phone, table_number, customer_name, cart, preferences, last_seen, session_started, total_orders)\nSELECT '{{ $json.from }}', {{ $json.table_number }}, '{{ $json.contact_name }}', '[]', '{}', NOW(), NOW(), 0\nWHERE NOT EXISTS (SELECT 1 FROM user_sessions WHERE phone = '{{ $json.from }}');",
        "options": {}
      },
      "id": "22427b4c-dd30-4a40-871b-344c7b48dc8f",
      "name": "Save Table to Session (Uses sanitized phone from earlier)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2320,
        1472
      ],
      "credentials": {
        "postgres": {
          "id": "4y2G3E3yQIqQHRow",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.from }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": {\n      \"text\": \"✅ Great! You're seated at Table {{ $json.table_number }}\\n\\n🍽️ What would you like to do?\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"SHOW_MENU\",\n            \"title\": \"📋 View Menu\"\n          }\n        },\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"VIEW_CART\",\n            \"title\": \"🛒 View Cart\"\n          }\n        },\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"HELP\",\n            \"title\": \"❓ Help\"\n          }\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "id": "1afcf700-cee0-4ad9-8ea1-d1bbf2335230",
      "name": "Confirm Table & Show Options",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2416,
        1472
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "value2": "SHOW_MENU",
              "operation": "equals"
            }
          ]
        },
        "options": {}
      },
      "id": "396fc918-f5b8-40cc-85c4-20ec70d9c3da",
      "name": "Route Action",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1808,
        1472
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM menu_items WHERE available = true AND category != 'hidden' ORDER BY category, name",
        "options": {}
      },
      "id": "f2deebfa-159d-4677-a02f-7acc1cb80f6a",
      "name": "Fetch Menu from DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2016,
        1328
      ],
      "credentials": {
        "postgres": {
          "id": "4y2G3E3yQIqQHRow",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst categories = {};\n\nitems.forEach(item => {\n  const cat = item.json.category || 'Other';\n  if (!categories[cat]) categories[cat] = [];\n  categories[cat].push(item.json);\n});\n\nconst sections = Object.keys(categories).map(cat => ({\n  title: cat.toUpperCase(),\n  rows: categories[cat].slice(0, 10).map(item => ({\n    id: `ADD_${item.id}`,\n    title: `${item.name} - ₹${item.price}`,\n    description: (item.description || '').substring(0, 72)\n  }))\n}));\n\nreturn { sections: sections.slice(0, 10) };"
      },
      "id": "b41157af-e39d-4fd3-b7a4-7e5b2aac12a0",
      "name": "Format Menu List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        1328
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.from }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"list\",\n    \"header\": {\n      \"type\": \"text\",\n      \"text\": \"📋 Our Menu\"\n    },\n    \"body\": {\n      \"text\": \"Browse our delicious menu and tap to add items to your cart!\"\n    },\n    \"action\": {\n      \"button\": \"View Menu\",\n      \"sections\": {{ $json.sections }}\n    }\n  }\n}",
        "options": {}
      },
      "id": "bba62ae0-136c-4f94-ba5b-9713a8472b24",
      "name": "Send Menu List",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2416,
        1328
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const action = $input.item.json.action || '';\nconst match = action.match(/^ADD_(\\d+)$/);\nif (!match) {\n  return { \n    ...$input.item.json, \n    error: 'INVALID_ITEM',\n    error_msg: '❌ Invalid menu item selection'\n  };\n}\nreturn { \n  ...$input.item.json, \n  item_id: parseInt(match[1])\n};"
      },
      "id": "ba3979b2-88ce-4476-9221-57fc767c30e5",
      "name": "Parse Item ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        1632
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "options": {}
      },
      "id": "def13735-281f-4a8a-9f4b-7f1b98c60a74",
      "name": "Check Item Parse Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2112,
        1632
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT * FROM menu_items WHERE id = {{ $json.item_id }} AND available = true LIMIT 1",
        "options": {}
      },
      "id": "a4540ad9-3bb4-4ffe-b0f9-dbaaa7f86551",
      "name": "Fetch Item from DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2320,
        1632
      ],
      "credentials": {
        "postgres": {
          "id": "4y2G3E3yQIqQHRow",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const item = $input.all()[0]?.json;\nif (!item || !item.id) {\n  return { \n    ...$input.first().json, \n    error: 'ITEM_NOT_FOUND',\n    error_msg: '❌ This item is no longer available'\n  };\n}\n\nconst session = $input.first().json.session || {};\nconst cart = session.cart || [];\n\nconst existing = cart.find(i => i.id === item.id);\nif (existing) {\n  existing.quantity += 1;\n} else {\n  cart.push({\n    id: item.id,\n    name: item.name,\n    price: item.price,\n    quantity: 1\n  });\n}\n\nconst subtotal = cart.reduce((sum, i) => sum + (i.price * i.quantity), 0);\nconst tax = Math.round(subtotal * 0.05);\nconst total = subtotal + tax;\n\nreturn {\n  ...$input.first().json,\n  session: { ...session, cart: cart },\n  cart: cart,\n  subtotal: subtotal,\n  tax: tax,\n  total: total,\n  added_item: item\n};"
      },
      "id": "75b7818e-5773-45e1-8165-36a14b84508b",
      "name": "Add Item to Cart",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2512,
        1632
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "options": {}
      },
      "id": "91de9ddb-809a-45b1-a487-52cdfc764152",
      "name": "Check Add Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2608,
        1632
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE user_sessions SET \n  cart = '{{ JSON.stringify($json.cart) }}', \n  last_seen = NOW() \nWHERE phone = '{{ $json.from }}'",
        "options": {}
      },
      "id": "1bc570f4-f9d4-442e-bf41-634b15daf586",
      "name": "Update Cart in DB (Uses sanitized phone from earlier)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2816,
        1632
      ],
      "credentials": {
        "postgres": {
          "id": "4y2G3E3yQIqQHRow",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.from }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": {\n      \"text\": \"✅ {{ $json.added_item.name }} added to cart!\\n\\n🛒 Current Total: ₹{{ $json.total }}\\n\\nWhat's next?\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"SHOW_MENU\",\n            \"title\": \"➕ Add More\"\n          }\n        },\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"VIEW_CART\",\n            \"title\": \"🛒 View Cart\"\n          }\n        },\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"CHECKOUT\",\n            \"title\": \"💳 Checkout\"\n          }\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "id": "bda3ae15-ce93-441e-8fbd-bf7c3f60d05e",
      "name": "Send Add Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2912,
        1632
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const session = $input.item.json.session || {};\nconst cart = session.cart || [];\n\nif (cart.length === 0) {\n  return { \n    ...$input.item.json, \n    error: 'EMPTY_CART',\n    error_msg: '🛒 Your cart is empty!\\n\\nTap \"View Menu\" to start ordering.'\n  };\n}\n\nconst subtotal = cart.reduce((sum, i) => sum + (i.price * i.quantity), 0);\nconst tax = Math.round(subtotal * 0.05);\nconst total = subtotal + tax;\n\nconst items = cart.map(i => `• ${i.name} x${i.quantity} - ₹${i.price * i.quantity}`).join('\\n');\n\nreturn {\n  ...$input.item.json,\n  cart: cart,\n  subtotal: subtotal,\n  tax: tax,\n  total: total,\n  cart_display: items\n};"
      },
      "id": "3454f168-59c1-4261-848c-e27b6a5e3e32",
      "name": "View Cart",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        1776
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "options": {}
      },
      "id": "943c4812-6af7-442d-9c5b-4bbac0dcb814",
      "name": "Check Cart Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2112,
        1776
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.from }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": {\n      \"text\": \"🛒 Your Cart:\\n\\n{{ $json.cart_display }}\\n\\n💰 Subtotal: ₹{{ $json.subtotal }}\\n🧾 Tax (5%): ₹{{ $json.tax }}\\n✅ Total: ₹{{ $json.total }}\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"SHOW_MENU\",\n            \"title\": \"➕ Add More\"\n          }\n        },\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"CHECKOUT\",\n            \"title\": \"💳 Checkout\"\n          }\n        },\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"CLEAR_CART\",\n            \"title\": \"🗑️ Clear Cart\"\n          }\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "id": "f8163eaa-a700-4327-be6c-4302c1a38fa6",
      "name": "Send Cart Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2320,
        1776
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const session = $input.item.json.session || {};\nconst cart = session.cart || [];\n\nif (cart.length === 0) {\n  return { \n    ...$input.item.json, \n    error: 'EMPTY_CART',\n    error_msg: '🛒 Your cart is empty!\\n\\nTap \"View Menu\" to start ordering.'\n  };\n}\n\nconst subtotal = cart.reduce((sum, i) => sum + (i.price * i.quantity), 0);\nconst tax = Math.round(subtotal * 0.05);\nconst total = subtotal + tax;\n\nconst items = cart.map(i => `• ${i.name} x${i.quantity} - ₹${i.price * i.quantity}`).join('\\n');\n\nconst orderId = `ORD${Date.now()}`;\n\nreturn {\n  ...$input.item.json,\n  cart: cart,\n  subtotal: subtotal,\n  tax: tax,\n  total: total,\n  cart_display: items,\n  order_id: orderId\n};"
      },
      "id": "75e28e6e-b4ee-40c4-a38a-0499221b238e",
      "name": "Prepare Checkout",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        1936
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "options": {}
      },
      "id": "a19f1400-700f-4177-b040-013cbde80a20",
      "name": "Check Checkout Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2112,
        1936
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO orders (order_id, phone, table_number, items, subtotal, tax, total, status, created_at) \nVALUES (\n  '{{ $json.order_id }}', \n  '{{ $json.from }}', \n  {{ $json.session.table }}, \n  '{{ JSON.stringify($json.cart) }}', \n  {{ $json.subtotal }}, \n  {{ $json.tax }}, \n  {{ $json.total }}, \n  'pending', \n  NOW()\n) RETURNING *",
        "options": {}
      },
      "id": "da64a5fa-a6c0-448e-9000-b53b096b1da4",
      "name": "Save Order to DB (Uses sanitized phone from earlier)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2320,
        1936
      ],
      "credentials": {
        "postgres": {
          "id": "4y2G3E3yQIqQHRow",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE user_sessions SET \n  cart = '[]', \n  last_seen = NOW(), \n  total_orders = total_orders + 1 \nWHERE phone = '{{ $json.from }}'",
        "options": {}
      },
      "id": "9e3c6119-54e5-4dcc-b7b1-8f969658cb9a",
      "name": "Clear Cart After Order (Uses sanitized phone from earlier)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2512,
        1936
      ],
      "credentials": {
        "postgres": {
          "id": "4y2G3E3yQIqQHRow",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.from }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"📋 Order #{{ $json.order_id }}\\n\\n{{ $json.cart_display }}\\n\\n💰 Subtotal: ₹{{ $json.subtotal }}\\n🧾 Tax (5%): ₹{{ $json.tax }}\\n✅ Total: ₹{{ $json.total }}\\n\\n📍 Table {{ $json.session.table }}\\n⏰ {{ new Date().toLocaleString('en-IN', {timeZone: 'Asia/Kolkata'}) }}\"\n  }\n}",
        "options": {}
      },
      "id": "4a735c32-f74a-4e95-8ba4-d781a3cd3bbb",
      "name": "Send Order Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2720,
        1936
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.from }}\",\n  \"type\": \"image\",\n  \"image\": {\n    \"link\": \"https://api.qrserver.com/v1/create-qr-code/?size=500x500&data=upi://pay?pa={{ $env.UPI_ID }}&pn={{ $env.RESTAURANT_NAME || 'Restaurant' }}&am={{ $json.total }}&cu=INR&tn=Order%20{{ $json.order_id }}\",\n    \"caption\": \"💳 Scan to Pay ₹{{ $json.total }}\\n\\nUPI ID: {{ $env.UPI_ID }}\\n\\nAfter payment, tap 'I Paid' below.\"\n  }\n}",
        "options": {}
      },
      "id": "dae72cbf-e747-4f55-82eb-cbc5cf1dc81c",
      "name": "Send UPI QR Code",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2912,
        1936
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.from }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"{{ $json.error_msg }}\"\n  }\n}",
        "options": {}
      },
      "id": "efca6edd-f554-4a08-83be-4008ad7e3ad1",
      "name": "Send Error Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        1616
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const action = $input.item.json.action || '';\nconst match = action.match(/^PAID_(\\w+)$/);\nif (!match) {\n  return { \n    ...$input.item.json, \n    error: 'INVALID_PAYMENT',\n    error_msg: '❌ Invalid payment confirmation'\n  };\n}\nreturn { \n  ...$input.item.json, \n  order_id: match[1]\n};"
      },
      "id": "bc8c55a5-96db-4a60-8996-9972e79d2c68",
      "name": "Parse Payment Confirmation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        2080
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "options": {}
      },
      "id": "f7942f71-92a7-44e2-9f82-69b120e72a78",
      "name": "Check Paid Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2112,
        2080
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE orders SET \n  status = 'paid', \n  paid_at = NOW() \nWHERE order_id = '{{ $json.order_id }}' \nRETURNING *",
        "options": {}
      },
      "id": "c1d45073-f634-4872-9caa-51869c8d5789",
      "name": "Mark Order as Paid",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2320,
        2080
      ],
      "credentials": {
        "postgres": {
          "id": "4y2G3E3yQIqQHRow",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.from }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"✅ Payment Confirmed!\\n\\n📋 Order #{{ $json.order_id }}\\n👨‍🍳 Your food is being prepared\\n⏰ Est. time: 15-20 mins\\n\\nThank you for your order!\"\n  }\n}",
        "options": {}
      },
      "id": "8320d6eb-e311-498b-80c4-0c86f940870b",
      "name": "Send Payment Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2512,
        2080
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.KITCHEN_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"order_id\": \"{{ $json.order_id }}\",\n  \"table\": {{ $json.session.table }},\n  \"items\": {{ JSON.stringify($json.cart) }},\n  \"customer\": \"{{ $json.contact_name }}\",\n  \"phone\": \"{{ $json.from }}\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "50129ce8-2869-4d88-a666-8135eb721bf7",
      "name": "Notify Kitchen Staff",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2512,
        2176
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE orders SET status = 'preparing' WHERE order_id = '{{ $json.order_id }}'",
        "options": {}
      },
      "id": "5bfd30d8-d1e0-4ca7-abc1-71ffc94c29ed",
      "name": "Set Status Preparing",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2720,
        2080
      ],
      "credentials": {
        "postgres": {
          "id": "4y2G3E3yQIqQHRow",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE user_sessions SET cart = '[]', last_seen = NOW() WHERE phone = '{{ $json.from }}'",
        "options": {}
      },
      "id": "776ccead-62af-4e08-b3fd-c9203c52bde5",
      "name": "Clear Cart (Manual)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2016,
        2224
      ],
      "credentials": {
        "postgres": {
          "id": "4y2G3E3yQIqQHRow",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.from }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"🗑️ Cart cleared!\\n\\nTap 'View Menu' to start a new order.\"\n  }\n}",
        "options": {}
      },
      "id": "066e8d9d-3d99-4f5e-a5cc-8bfbfce77e26",
      "name": "Send Clear Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2208,
        2224
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT * FROM orders WHERE phone = '{{ $json.from }}' ORDER BY created_at DESC LIMIT 1",
        "options": {}
      },
      "id": "22dc3db3-3578-4ae6-83e9-be6637e3b8c9",
      "name": "Get Order Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2016,
        2384
      ],
      "credentials": {
        "postgres": {
          "id": "4y2G3E3yQIqQHRow",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const order = $input.all()[0]?.json;\nif (!order || !order.order_id) {\n  return { \n    ...$input.first().json, \n    error: 'NO_ORDER',\n    error_msg: '❌ No active orders found'\n  };\n}\n\nconst statusMap = {\n  'pending': '⏳ Pending Payment',\n  'paid': '💳 Paid',\n  'preparing': '👨‍🍳 Being Prepared',\n  'ready': '✅ Ready',\n  'delivered': '🎉 Delivered',\n  'cancelled': '❌ Cancelled'\n};\n\nreturn {\n  ...$input.first().json,\n  order: order,\n  status_display: statusMap[order.status] || order.status\n};"
      },
      "id": "5b89539d-17a0-4623-8b7d-7d218d6b7812",
      "name": "Format Order Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        2384
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.from }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"📋 Order Status\\n\\n🆔 #{{ $json.order.order_id }}\\n📊 Status: {{ $json.status_display }}\\n📍 Table {{ $json.order.table_number }}\\n💰 Total: ₹{{ $json.order.total }}\\n⏰ Ordered: {{ new Date($json.order.created_at).toLocaleString('en-IN', {timeZone: 'Asia/Kolkata'}) }}\"\n  }\n}",
        "options": {}
      },
      "id": "1c1abd23-22e0-4436-a0b7-f2eceaf0f72a",
      "name": "Send Order Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2416,
        2384
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT * FROM orders WHERE phone = '{{ $json.from }}' ORDER BY created_at DESC LIMIT 5",
        "options": {}
      },
      "id": "bb373abf-3f4d-4b8e-95a7-65059d27f2e4",
      "name": "Get Order History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2016,
        2528
      ],
      "credentials": {
        "postgres": {
          "id": "4y2G3E3yQIqQHRow",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const orders = $input.all();\nif (orders.length === 0) {\n  return { \n    ...$input.first().json, \n    error: 'NO_HISTORY',\n    error_msg: '📋 No order history found'\n  };\n}\n\nconst history = orders.map(o => {\n  const date = new Date(o.json.created_at).toLocaleString('en-IN', {timeZone: 'Asia/Kolkata', dateStyle: 'short', timeStyle: 'short'});\n  return `• ${o.json.order_id} - ₹${o.json.total} (${date})`;\n}).join('\\n');\n\nreturn {\n  ...$input.first().json,\n  history_display: history\n};"
      },
      "id": "fe7f6b83-0e10-4256-85a8-9e170f2951b6",
      "name": "Format Order History",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        2528
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.from }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"📜 Your Order History\\n\\n{{ $json.history_display }}\"\n  }\n}",
        "options": {}
      },
      "id": "d1d87435-aaa3-48cd-ba9d-1d56f25247f4",
      "name": "Send Order History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2416,
        2528
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const text = ($input.item.json.text || '').toString();\nconst match = text.match(/REMOVE\\s+(\\d+)/i);\nif (!match) {\n  return { \n    ...$input.item.json, \n    error: 'INVALID_REMOVE',\n    error_msg: '❌ Please use format: REMOVE <item_id>'\n  };\n}\n\nconst itemId = parseInt(match[1]);\nconst session = $input.item.json.session || {};\nconst cart = session.cart || [];\n\nconst itemIndex = cart.findIndex(i => i.id === itemId);\nif (itemIndex === -1) {\n  return { \n    ...$input.item.json, \n    error: 'ITEM_NOT_IN_CART',\n    error_msg: '❌ Item not found in cart'\n  };\n}\n\nconst removed = cart.splice(itemIndex, 1)[0];\n\nconst subtotal = cart.reduce((sum, i) => sum + (i.price * i.quantity), 0);\nconst tax = Math.round(subtotal * 0.05);\nconst total = subtotal + tax;\n\nreturn {\n  ...$input.item.json,\n  session: { ...session, cart: cart },\n  cart: cart,\n  subtotal: subtotal,\n  tax: tax,\n  total: total,\n  removed_item: removed\n};"
      },
      "id": "a7cfbaa7-79d6-4d9d-8caa-62cac2d444fd",
      "name": "Remove Item from Cart",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        2672
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "options": {}
      },
      "id": "9817c51f-7d82-4d83-9173-458932b06785",
      "name": "Check Remove Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2112,
        2672
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE user_sessions SET cart = '{{ JSON.stringify($json.cart) }}', last_seen = NOW() WHERE phone = '{{ $json.from }}'",
        "options": {}
      },
      "id": "65d9aa7b-5faf-4ccf-adb1-68c0cae1f339",
      "name": "Update Cart After Remove",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2320,
        2672
      ],
      "credentials": {
        "postgres": {
          "id": "4y2G3E3yQIqQHRow",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.from }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"✅ {{ $json.removed_item.name }} removed from cart\\n\\n🛒 New Total: ₹{{ $json.total }}\"\n  }\n}",
        "options": {}
      },
      "id": "efecd088-ca9c-48da-b06d-da7ec5c63195",
      "name": "Send Remove Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2512,
        2672
      ],
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Extract Message Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Webhook Verification": {
      "main": [
        [
          {
            "node": "Verify Webhook Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Webhook Code": {
      "main": [
        [
          {
            "node": "Respond with Challenge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message Data": {
      "main": [
        [
          {
            "node": "Sanitize Input (SQL Protection)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Sanitize Input (SQL Protection)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Session from DB (Uses sanitized phone from earlier)": {
      "main": [
        [
          {
            "node": "Process Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Session": {
      "main": [
        [
          {
            "node": "Check Table Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Table Set": {
      "main": [
        [
          {
            "node": "Ask Table Number",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Action": {
      "main": [
        [
          {
            "node": "Fetch Menu from DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Table Number",
            "type": "main",
            "index": 0
          },
          {
            "node": "Parse Item ID",
            "type": "main",
            "index": 0
          },
          {
            "node": "View Cart",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Checkout",
            "type": "main",
            "index": 0
          },
          {
            "node": "Parse Payment Confirmation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Clear Cart (Manual)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Order Status",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Order History",
            "type": "main",
            "index": 0
          },
          {
            "node": "Remove Item from Cart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Table Number": {
      "main": [
        [
          {
            "node": "Check Table Parse Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Table Parse Error": {
      "main": [
        [
          {
            "node": "Send Error Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Table to Session (Uses sanitized phone from earlier)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Table to Session (Uses sanitized phone from earlier)": {
      "main": [
        [
          {
            "node": "Confirm Table & Show Options",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Menu from DB": {
      "main": [
        [
          {
            "node": "Format Menu List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Menu List": {
      "main": [
        [
          {
            "node": "Send Menu List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Item ID": {
      "main": [
        [
          {
            "node": "Check Item Parse Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Item Parse Error": {
      "main": [
        [
          {
            "node": "Send Error Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Item from DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Item from DB": {
      "main": [
        [
          {
            "node": "Add Item to Cart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Item to Cart": {
      "main": [
        [
          {
            "node": "Check Add Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Add Error": {
      "main": [
        [
          {
            "node": "Send Error Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Cart in DB (Uses sanitized phone from earlier)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Cart in DB (Uses sanitized phone from earlier)": {
      "main": [
        [
          {
            "node": "Send Add Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "View Cart": {
      "main": [
        [
          {
            "node": "Check Cart Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Cart Error": {
      "main": [
        [
          {
            "node": "Send Error Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Cart Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Checkout": {
      "main": [
        [
          {
            "node": "Check Checkout Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Checkout Error": {
      "main": [
        [
          {
            "node": "Send Error Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Order to DB (Uses sanitized phone from earlier)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Payment Confirmation": {
      "main": [
        [
          {
            "node": "Check Paid Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Paid Error": {
      "main": [
        [
          {
            "node": "Send Error Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Order as Paid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Order as Paid": {
      "main": [
        [
          {
            "node": "Send Payment Confirmation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Kitchen Staff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Payment Confirmation": {
      "main": [
        [
          {
            "node": "Set Status Preparing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Cart (Manual)": {
      "main": [
        [
          {
            "node": "Send Clear Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Order Status": {
      "main": [
        [
          {
            "node": "Format Order Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Order Status": {
      "main": [
        [
          {
            "node": "Send Order Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Order History": {
      "main": [
        [
          {
            "node": "Format Order History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Order History": {
      "main": [
        [
          {
            "node": "Send Order History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Item from Cart": {
      "main": [
        [
          {
            "node": "Check Remove Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Remove Error": {
      "main": [
        [
          {
            "node": "Send Error Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Cart After Remove",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Cart After Remove": {
      "main": [
        [
          {
            "node": "Send Remove Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Environment": {
      "main": [
        [
          {
            "node": "Extract Message Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limiting": {
      "main": [
        [
          {
            "node": "Check Rate Limit Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Rate Limit Error": {
      "main": [
        [
          {
            "node": "Send Error Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize Input (SQL Protection)": {
      "main": [
        [
          {
            "node": "Check Sanitization Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Sanitization Error": {
      "main": [
        [
          {
            "node": "Send Error Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Load Session from DB (Uses sanitized phone from earlier)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Order to DB (Uses sanitized phone from earlier)": {
      "main": [
        [
          {
            "node": "Clear Cart After Order (Uses sanitized phone from earlier)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Cart After Order (Uses sanitized phone from earlier)": {
      "main": [
        [
          {
            "node": "Send Order Details",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send UPI QR Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d92ca169-6983-4d70-bafe-8629367dd9f7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "11e136e5feea029547e89d47945f98eb7fbf69d5ba881a187992bd6a0185fca1"
  },
  "id": "tHocVCl6bP3hyC1q",
  "tags": []
}